<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>CREDIUDO | Inicio</title>
	<link rel="shortcut icon" href="/images/title/favicon-96x96.png">

	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<!--Barra de Progreso-->
	<script type="text/javascript" src="/js/pace.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/css/pace-theme-center-circle.css">
	<!-- Pie de Pagina -->
    <link href="/css/sticky-footer-navbar.css" rel="stylesheet">
</head>
<body>
	<div id="main">
		<div class="jumbotron" style="margin-bottom: 0px; padding: 0">
			<img src="/images/index/banner-sistema.jpg" alt="Responsive image" class="img-fluid">
		</div>	

		<%- include('../../partials/empleado/navbar.html') %>

		<div class="container-fluid">
			<div class="row justify-content-md-center">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-12">
							<!--=======MIGAS DE PAN=========-->
							<nav aria-label="breadcrumb" style="margin-top: 1%">
								<ol class="breadcrumb">
								    <li class="breadcrumb-item active" aria-current="page">Home</li>
								</ol>
							</nav>
							<!--=======FIN MIGAS DE PAN=========-->				
						</div>

						
						<!--info izquierdo-->
						<div class="col-sm-12 col-md-12 col-lg-3">
							<div class="row">
								<!--Datos del Inicio de Sesion-->
								<div class="col-sm-12 col-md-12 col-lg-12">
									<div class="row">
										<div class="col-sm-6 col-md-6 col-lg-12">
											<div class="card">
											  	<div class="card-header">
											    	Datos Personales:
											  	</div>
											  
											  	<div class="card-body">
											    	<div class="form-group">
											    		<input type="hidden" id="cedula" value="<%- Usuario.cedula %>">
											    		<p><b>Nombre: </b><%= Usuario.nombre %></p>
											    		<p><b>Apellido: </b><%= Usuario.apellido %></p>
											    		<p><b>Nucleo: </b><%= Usuario.nucleo.nombre %></p>
											    		<p><b>Unidad: </b><%= Usuario.unidad.nombre %></p>
											    	</div>
											  	</div>
											</div>
											<br>		
										</div>

										<!--Como Evaluar-->
										<div class="col-sm-6 col-md-6 col-lg-12">
											<div class="card">
											  	<div class="card-header">
											    	¿Sabes como Evaluar?
											  	</div>
											  
											  	<div class="card-body">
											    	<div class="form-group">
											    		<p><b>Nombre: </b><%= Usuario.nombre %></p>
											    		<p><b>Apellido: </b><%= Usuario.apellido %></p>
											    		<p><b>Nucleo: </b><%= Usuario.nucleo.nombre %></p>
											    		<p><b>Unidad: </b><%= Usuario.unidad.nombre %></p>
											    	</div>
											  	</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<br>
						</div>
						
						<!--Contenido-->
						<div class="col-sm-12 col-md-12 col-lg-9">
							<div class="row">
								<div class="col-md-12">
									<div class="card">
										<div class="card-body">
											<div class="article border-bottom">
												<h3>Resultados de Evaluaciones</h3>
											</div>
											<br>
											
											<table style="width: 100%">
												<thead>
													<th style="width: 40%">Factor</th>
													<th>Calificación</th>
												</thead>
												<tbody>
													<% let autoEval = [] %> <!--arreglo que almacena los ptos parciales de los factores en la autoEval-->
													<% let acumuladorCoEval = [] %> 
													<% let jefe = [] %> <!-- arreglo que almacena los ptos parciales de los factores en la eval q hace el jefe -->
													<% let califiParcial = [] %> <!-- arreglo q guarda la calificacion parcial de un factor (autoE+coE+jefe) -->
													<% let n = [] %> <!-- arreglo q almacena el numero de veces q entro en un cliclo (la pude haber definido como 3 y ya) -->
													<% califiCoEval = [] %> <!-- arreglo que almacena los ptos parciales de los factores en la coEval -->


													<% for(let i = 0; i < Factores.length; i ++) {%>
														<% if(calificacionFactor && calificacionFactor.length > 0) {%>
															<% autoEval[i] = 0 %>
															<% acumuladorCoEval[i] = 0 %>
															<% jefe[i] = 0 %>
															<% califiCoEval[i] = 0 %>
															<% califiParcial[i] = 0 %>
															<% n[i] = 0 %>
														</tbody>
															<tr>
																<td><%- Factores[i].factor.nombre %></td>
																<td style="padding: 5px">
																	<% for(let j = 0; j < calificacionFactor.length; j ++) {%>
																		<% if(calificacionFactor[j].factorId == Factores[i].factorId) {%>
																			<% if(calificacionFactor[j].evaluacion.instrumentId == 1) {%>
																				<% autoEval[i] = calificacionFactor[j].calificacion * 0.10 %>
																				
																			<%} else if(calificacionFactor[j].evaluacion.instrumentId == 2) {%>
																				<% n[i] = n[i] + 1 %>
																				<% acumuladorCoEval[i] = acumuladorCoEval[i] + parseFloat(calificacionFactor[j].calificacion) %>	
																			<%} else if(calificacionFactor[j].evaluacion.instrumentId == 4) {%>
																				<% jefe[i] = calificacionFactor[j].calificacion * 0.50 %>
																			<%}%>
																		<%}%>
																	<%}%>
																	<% califiCoEval[i] = (acumuladorCoEval[i] / n[i]) * 0.40%>
																	<% califiParcial[i] = autoEval[i] + califiCoEval[i] + jefe[i] %>
																	<div class="progress">
																	  	<div class="progress-bar" role="progressbar" style="width: <%= califiParcial[i] * 20 %>%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><b><%= (califiParcial[i]).toFixed(2) %> Ptos</b></div>
																	</div>
																</td>
															</tr>
														<%}%>
													<%}%>
												</tbody>
											</table>
										</div>
									</div>	
									<br>
								</div>
								
								<div class="col-md-12">
									<div class="card">
										<div class="card-body">
											<table style="width: 100%">
												<tr>
													<td style="width: 40%"><h2>Calificación General: </h2></td>
													<td>
														<div class="progress">
															<div class="progress-bar" role="progressbar" style="width: <%= Resultado.calificacion * 20 %>%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><b> <%= Resultado.calificacion %> Ptos</b></div>
														</div>
													</td>
												</tr>
											</table>
										</div>
									</div>
									<br>
								</div>

								<div class="col-md-12">
									<div class="card">
										<div class="card-body">
											<div class="article border-bottom">
												<h3>Observación</h3>
											</div>
											<textarea class="form-control" disabled rows="5"><%- Observacion.contenido %></textarea>
										</div>
									</div>
									<br>
								</div>

								<div class="col-md-12">
									<div class="card">
										<div class="card-body">
											<div class="article border-bottom">
												<h3>Recomendación</h3>
											</div>
											<textarea class="form-control" disabled rows="5"></textarea>
										</div>
									</div>
									<br>
								</div>
							</div>
							
						</div>

						
					</div>
				</div>
			</div>
		</div>

		<footer class="footer" style="background: #BEBCB0;">
			<div class="container">
				<span class="text-muted">Pie de Pagina</span>
			</div>
		</footer>
	</div>

	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/jquery.validate.min.js"></script>
	<script src="/js/main.js"></script>
	<script src="/js/misFunciones.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
	<script type="text/javascript">
		new Vue({
			el: '#main',
			data: {
				
			}, 
			created() {
				
			},
			methods: {
				
			}
		})
	</script>
</body>
</html>