<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>CREDIUDO | ADMIN</title>

	<style>
		table, th, td {
    		border: 1px solid black;
    		border-collapse: collapse;
		}
	</style>
</head>
<body>
	<h2>Dashboard | ADMIN</h2>
	<a href="/logout">Cerrar Sesion</a>
	<br><br>
	<h4>Personal CREDIUDO</h4>
	<table style="width:40%">
		<tr>
	    	<th>Cargo</th>
	    	<th>Nombre y Apellido</th> 
	    	<th>Cedula</th>
	    	<th>Acción</th>
	  	</tr>
	  	<!--=====================PRESIDENTE========================-->
		<tr>
	    	<td>Presidente</td>
	    	<td>
	    		<% if(Presidente == undefined) {%>
					Vacante
	    		<%} else{%>
					<p><%=Presidente.nombre%> <%=Presidente.apellido%></p>
	    		<%}%>
	    		
	    	</td> 
	    	<td>
	    		<% if(Presidente == undefined) {%>
					Vacante
	    		<%} else{%>
					<%=Presidente.cedula%>
	    		<%}%>
	    				
	    	</td>
	    	<td>
	    		<% if(Presidente == undefined) {%>
					<a href="/admin/asignar-presi">Asignar</a>
	    		<%}%>
				<a href="#">Cambiar</a>
	    	</td>
	  	</tr>

	  	<!--================COORD. PLANIFICACION========================-->
	  	<tr>
	    	<td>Coord. Planificación</td>
	    	<td>
	    		<% if(coordPlani == undefined){%>
	    			Vacante
	    		<%} else{%>
					<p><%=coordPlani.nombre%> <%=coordPlani.apellido%></p>
	    		<%}%>
	    	</td> 
	    	<td>
	    		<% if(coordPlani == undefined){%>
	    			Vacante
	    		<%} else{%>
					<%=coordPlani.cedula%>
	    		<%}%>
	    	</td>
	    	<td>
	    		<% if(coordPlani == undefined) {%>
					<a href="/admin/asignar-coordP">Asignar</a>
	    		<%}%>
	    		
				<a href="">Cambiar</a>
	    	</td>
	  	</tr>

		<!--=================COORD. EVEALUACION========================-->
	  	<tr>
	    	<td>Coord. Evaluación</td>
	    	<td>
	    		<% if(coordEval == undefined){%>
	    			Vacante
	    		<%} else{%>
					<p><%=coordEval.nombre%> <%=coordEval.apellido%></p>
	    		<%}%>
	    	</td> 
	    	<td>
	    		<% if(coordEval == undefined){%>
	    			Vacante
	    		<%} else{%>
					<%=coordEval.cedula%>
	    		<%}%>
	    	</td>
	    	<td>
	    		<% if(coordEval == undefined) {%>
					<a href="/admin/asignar-coordE">Asignar</a>
	    		<%}%>
				<a href="">Cambiar</a>
	    	</td>
	  	</tr>

	</table>
</body>
</html>