<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>CREDIUDO | Presidente</title>
	<style type="text/css">
		table, th, td {
		    border: 1px solid black;
		}
	</style>
</head>
<body>
	<h3>Detalles | Evaluación</h3>

	<br>

	<table style="width:50%">
		<tr>
			<th>Evaluador</th>
			<th>Evaluación</th>
		</tr>

		<% for(let i = 0; i < evalUsuario.length; i ++) {%>
			<% for(let j = 0; j < Usuario.length; j ++) {%>
				<% if(evalUsuario[i].usuarioCedula == Usuario[j].cedula) {%>
					<tr>
						<td><%= Usuario[j].nombre %>  <%= Usuario[j].apellido %></td>
						<td>
							<% for(let k = 0; k < Usuario.length; k ++) {%>
								<% if(evalUsuario[i].usuarioEvaluado == Usuario[k].cedula) {%>
									<%= Usuario[k].nombre %> <%= Usuario[k].apellido %>
								<%}%>
							<%}%>
						</td>
					</tr>
				<%}%>
			<%}%>
		<%}%>
	</table>
</body>
</html>