<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>CREDIUDO | Presidente</title>

	<style type="text/css">
		table, th, td {
		    border: 1px solid black;
		}
	</style>
</head>
<body>
	<h3>Detalles | Evaluación</h3>
	<% if(evalJefe == false) {%>
		<h3>Evaluador: <%= dataEvaluacion[0].usuarioCedula %></h3>
	<%} else if(evalJefe == true) {%>
		<p>Hola</p>
	<%}%>	
	<br><br>

	<table style="width:50%">
		<tr>
			<th>Evaluado</th>
			<th>Evaluador</th>
			<th>Evaluación</th>
		</tr>

		<% var n = 0 %>

		<% for(let i = 0; i < dataEvaluacion.length; i ++) {%>
			<tr>
				<td><%= dataEvaluacion[i].usuarioEvaluado %></td>
				<td><%= dataEvaluacion[i].usuarioCedula %></td>
				<td>
					<% if(dataEvaluacion[i].status == false) {%>
						En Proceso
					<%} else if(dataEvaluacion[i].status == true && Evaluacion.instrument.tipoEvalId == 4) {%>
						<% n = n + 1 %>
						<a href="/president/culminado/<%=dataEvaluacion[i].evaluacionId%>/u/<%=dataEvaluacion[i].usuarioEvaluado%>/ue/<%=dataEvaluacion[i].usuarioCedula%>">Culminada</a>
					<%} else if(dataEvaluacion[i].status == true && Evaluacion.instrument.tipoEvalId == 3) {%>
						<% n = n + 1 %>
						<a href="/president/culminado/<%=dataEvaluacion[i].evaluacionId%>/u/<%=dataEvaluacion[i].usuarioEvaluado%>/ue/<%=dataEvaluacion[i].usuarioCedula%>">Culminada</a>
					<%}%>
				</td>
			</tr>
		<%}%>	
	</table>

	<br>
	
	<% if(instrumentFactor) {%>
		<% if(n == dataEvaluacion.length) {%>
			<table style="width:20%">
				<th>Calificación General</th>

				<tr>
					<td>
						<h1>
							<% var calificacionGeneral = 0 %>
							<% var acomulado = 0 %>
							<% for(let j = 0; j < dataEvaluacion.length; j ++) {
								
									acomulado = acomulado + parseInt(dataEvaluacion[j].calificacion);
									calificacionGeneral = acomulado / dataEvaluacion.length;
								
							}%>
							<%= calificacionGeneral %> Ptos
						</h1>
					</td>
				</tr>
			</table>

			<br>

			<table style="width:70%">
				<th>Factor</th>
				<th>Calificaión</th>
				<% for(let k = 0; k < instrumentFactor.length; k ++) {%>
					<tr>
						<td><%= instrumentFactor[k].factor.nombre %></td>
						<td></td>
					</tr>
				<%}%>
			</table>

			<br>

			<form method="post" action="">
				<label for="ovbeservacion">Observación:</label>
				<br>
				<textarea name="observacion" cols="100" rows="10">			
				</textarea>

				<br>
		
				<input type="submit" name="enviar" value="Enviar">	
			</form>
		<%}%>
	<%}%>
	
	
</body>
</html>