<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>CREDIUDO | Presidente</title>

	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- Custom styles for this template -->
    <link href="/css/sticky-footer-navbar.css" rel="stylesheet">
</head>
<body>
	<div class="jumbotron" style="margin-bottom: 0px; padding: 0">
		<img src="/images/index/banner-sistema.jpg" alt="Responsive image" class="img-fluid">
	</div>	

	<%- include('../../partials/president/navbar.html') %>

	<div class="container-fluid">
		<div class="row justify-content-md-center">
			<div class="col-md-10">
				<div class="row">
					<div class="col-md-12">
						<!--=======MIGAS DE PAN=========-->
						<nav aria-label="breadcrumb" style="margin-top: 1%">
							<ol class="breadcrumb">
							    <li class="breadcrumb-item" aria-current="page"><a href="/dashboard">Home</a></li>
							    <li class="breadcrumb-item active" aria-current="page">Historial</li>
							</ol>
						</nav>
						<!--=======FIN MIGAS DE PAN=========-->		
					</div>
				</div>

				<div class="row">
					<div class="col-md-3">
						<div class="card">
						  	<div class="card-header">
						    	Datos Personales:
						  	</div>
						  
						  	<div class="card-body">
						    	<div class="form-group">
						    		<p><b>Nombre: </b><%- usuario.nombre %></p>
						    		<p><b>Apellido: </b><%- usuario.apellido %></p>
						    		<p><b>Nucleo: </b><%- usuario.nucleoCodigo %></p>
						    		<p><b>Unidad: </b><%- usuario.unidadCodigo %></p>
						    	</div>
						  	</div>
						</div>

						<br>
					</div>

					<div class="col-md-9">
						<div class="row">
							<div class="col-md-12">
								<div class="card">
									<div class="card-body">
										<h3>Evaluaciones Programadas</h3>
										<hr>
										<% if(Evaluaciones && Evaluaciones.length > 0) {%>
											<table class="table">
												<thead>
													<tr>
														<th scope="col">Nombre de Eval</th>
												      	<th scope="col">Nucleo</th>
												      	<th scope="col">Unidad</th>
												      	<th scope="col">Fecha I</th>
												      	<th scope="col">Fecha F</th>
												      	<th scope="col">Acción</th>
													</tr>
												</thead>
												<tbody>
													<% for(let i = 0; i < Evaluaciones.length; i ++) {%>
														<tr>
															<td><%- Evaluaciones[i].nombre %></td>
															<td><%- Evaluaciones[i].nucleo.nombre %></td>
															<td><%- Evaluaciones[i].unidad.nombre %></td>
															<td><%= Evaluaciones[i].fecha_i.getDate() %>/<%= Evaluaciones[i].fecha_i.getMonth() + 1 %>/<%= Evaluaciones[i].fecha_i.getFullYear() %></td>
													      	<td><%= Evaluaciones[i].fecha_f.getDate() %>/<%= Evaluaciones[i].fecha_f.getMonth() + 1 %>/<%= Evaluaciones[i].fecha_f.getFullYear() %></td>
														</tr>
													<%}%>
												</tbody>
											</table>
										<%} else {%>
											<h3 class="display-4 text-center">Ninguna</h3>
										<%}%>									
									</div>
								</div>	
							</div>
						</div>
					</div>
				</div>		
			</div>
		</div>
	</div>

	<footer class="footer" style="background: #BEBCB0;">
		<div class="container">
			<span class="text-muted">Pie de Pagina</span>
		</div>
	</footer>

	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="/js/jquery.validate.min.js"></script>
	<script src="/js/main.js"></script>

</body>
</html>