<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>CREDIUDO | Inicio</title>
		<link rel="shortcut icon" href="/images/title/favicon-96x96.png">

		<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<script type="text/javascript" src="/js/pace.min.js"></script>
		<link rel="stylesheet" type="text/css" href="/css/pace-theme-center-circle.css">
		<!-- Custom styles for this template -->
    	<link href="/css/sticky-footer-navbar.css" rel="stylesheet">
    	<link href="/css/carrusel.css" rel="stylesheet">
	</head>

	<body>
		<div class="jumbotron" style="margin-bottom: 0px; padding: 0">
			<img src="images/index/banner-sistema.jpg" alt="Responsive image" class="img-fluid">
		</div>
			
		<%- include('../partials/index/navbar.html') %>

		<div class="container-fluid" id="main">
			<div class="row justify-content-md-center">
				<div class="col-sm-12 col-md-12 col-lg-12">
					<div class="row">
						<div class="col-md-12">
							<!--=======MIGAS DE PAN=========-->
							<nav aria-label="breadcrumb" style="margin-top: 1%">
							  	<ol class="breadcrumb">
							    	<li class="breadcrumb-item active" aria-current="page">Home</li>
							  	</ol>
							</nav>
							<!--=======FIN MIGAS DE PAN=========-->				
						</div>

						<!--=========CARROUSEL========-->
						<div class="col-md-12">
							<div id="demo" class="carousel slide" data-ride="carousel">
								<!-- Indicators -->
								<ul class="carousel-indicators">
									<li data-target="#demo" data-slide-to="0" class="active"></li>
									<% if(Evaluaciones.length == 1) {%>
										<li data-target="#demo" data-slide-to="1"></li>
									<%} else if(Evaluaciones.length == 2) {%>
										<li data-target="#demo" data-slide-to="1"></li>
										<li data-target="#demo" data-slide-to="2"></li>
									<%}%>   
								</ul>

								<!-- The slideshow -->
								
									<div class="carousel-inner">
										
									    <div class="carousel-item active">
										    <img src="images/index/eval.jpg" alt="Responsive image" class="img-fluid" style="width: 100%; height: 500px">
										    <div class="carousel-caption d-none d-md-block">
												<h5>CREDIUDO</h5>
												<p>Bienvenido</p>
											  </div>
									    </div>
										
										<% if(Evaluaciones.length > 0) {%>
											<% for(let i = 0; i < Evaluaciones.length; i ++) {%>
												<div class="carousel-item">
													<a href="/dashboard">
												      	<img src="images/index/eval.jpg" alt="Responsive image" class="img-fluid" style="width: 100%; height: 500px">

												      	<div class="carousel-caption d-none d-md-block">
													    	<a href="/dashboard" style="color: white">
														    	<h5>
														    		<%- Evaluaciones[i].nombre %>
														    		(<%- Evaluaciones[i].fecha_i.getDate() %>/<%- Evaluaciones[i].fecha_i.getMonth() + 1%>/<%- Evaluaciones[i].fecha_i.getFullYear() %> - <%- Evaluaciones[i].fecha_f.getDate() %>/<%- Evaluaciones[i].fecha_f.getMonth() + 1%>/<%- Evaluaciones[i].fecha_f.getFullYear() %>)		
														    	</h5>
														    	<p>
														    		<%- Evaluaciones[i].nucleo.nombre %>
														    		-
														    		<%- Evaluaciones[i].unidad.nombre %>
														    	</p>
													    	</a>
													  	</div>
												  	</a>
											    </div>
											<%}%>
										<%}%>
									</div>
								

								<!-- Left and right controls -->
								<% if(Evaluaciones.length > 0) {%>
									<a class="carousel-control-prev" href="#demo" data-slide="prev">
									    <span class="carousel-control-prev-icon"></span>
									</a>
									<a class="carousel-control-next" href="#demo" data-slide="next">
									    <span class="carousel-control-next-icon"></span>
									</a>
								<%}%>
							</div>
						</div>
						<!--=========FIN CARROUSEL========-->

						<!--=====SUB COMISIONES========-->
						<div class="col-md-12">
							<hr>
							<section class="text-center">
								<h3 style="padding-top: 1%; padding-bottom: 3%;">Encuentranos por Nucleos</h3>
							</section>

							<section class="row justify-content-md-center">
								<div class="col-md-10" style="margin-bottom: 2%;">
									<div class="row justify-content-md-center">
										<div class="col-sm-6 col-md-2 text-center">
											<a href="">
												<img src="images/index/nucleos/sucre.png" class="img-fluid" alt="Responsive image">
												<p>Sub Comisión<br>Nucleo Sucre</p>
											</a>
										</div>

										<div class="col-sm-6 col-md-2 text-center">
											<a href="">
												<img src="images/index/nucleos/monagas.png">
												<p>Sub Comisión<br>Nucleo Monagas</p>
											</a>
										</div>

										<div class="col-sm-6 col-md-2 text-center">
											<a href="">
												<img src="images/index/nucleos/bolivar.png">
												<p>Sub Comisión<br>Nucleo Bolivar</p>
											</a>
										</div>

										<div class="col-sm-6 col-md-2 text-center">
											<a href="">
												<img src="images/index/nucleos/nuevaesparta.png">
												<p>Sub Comisión<br>Nucleo Nueva Esparta</p>
											</a>
										</div>

										<div class="col-sm-12 col-md-2 text-center">
											<a href="">
												<img src="images/index/nucleos/nuevaesparta.png">
												<p>Sub Comisión<br>Nucleo Nueva Esparta</p>
											</a>
										</div>	
									</div>
								</div>
							</section>	
						</div>	
						<!--=====FIN SUB COMISIONES========-->

						<!--========Evaluaciones===========-->
						<div class="col-md-12" style="background: #C3C7C8; padding-top: 30px; padding-bottom: 30px">
							<div class="container">
								<div class="row">
									<div class="col-md-12 text-center">
										<h3>Evaluar es Nuestro deber con la Institución</h3>
									</div>
									<div class="col-md-12 text-center" style="padding-top: 20px;">
										<div class="row">
											<div class="col-md-4">
												<img src="images/img/admin1.png">
												<br><br>
												<a href="" class="btn btn-primary">Personal Admin</a>
											</div>

											<div class="col-md-4">
												<img src="images/img/centro1.png">
												<br><br>
												<a href="" class="btn btn-primary">Centros de Investigacion</a>
											</div>

											<div class="col-md-4">
												<img src="images/img/docente.png">
												<br><br>
												<a href="" class="btn btn-primary">Personal Docente</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!--=====Fin Evaluaciones==========-->

						<!--======Info Estatica============-->
						<div class="col-md-12 text-center" style="background: #E6F7FB; padding-top: 30px; padding-bottom: 30px">
							<div class="container">
								<div class="row">
									<div class="col-md-4">
										<p style="font-size: 20pt; color: #10778F"><i class="fa fa-pencil" aria-hidden="true"></i> Seguimiento</p>
										<p style="color: #10778F">
											Supervisión directa de gestión y desempeño en todas las entidades correspondientes y adscritas a la Universidad de Oriente en toda su extención a nivel nacional.
										</p>
									</div>

									<div class="col-md-4">
										<p style="font-size: 20pt; color: #10778F"><i class="fa fa-cog" aria-hidden="true"></i> Capacitación</p>
										<p style="color: #10778F">
											Mantener nuestro personal actualizado es lo más importante, impartiendo técnicas y métodos actualizados para mejorar su rendimiento y gestión.
										</p>
									</div>

									<div class="col-md-4">
										<p style="font-size: 20pt; color: #10778F"><i class="fa fa-star" aria-hidden="true"></i> Trabajo en Equipo</p>
										<p style="color: #10778F">
											Nuestra dependencia trabaja en conjunto con todas sus unidades para llevar a cabo los procesos internos de forma satisfactoria; como la ejecución de las evaluaciones, actividades, entre otras.
										</p>
									</div>
								</div>
							</div>
						</div>
						<!--=======Fin Info Estatica=======-->

						<!--===========Junta Directiva=======-->
						<div class="col-md-12" style="background: #C3C7C8; padding-top: 30px; padding-bottom: 30px">
							<div class="container">
								<div class="row">
									<div class="col-md-12 text-center">
										<h3>Junta Directiva de Nuestra Dependencia</h3>
									</div>

									<div class="col-md-12" style="padding-top: 15px">
										<div class="row">
											<div class="col-sm-6 col-md-2 text-center">
												<img src="images/img/presidenta.png">
												<p>Andres De La cruz</p>
											</div>

											<div class="col-sm-6 col-md-2 text-center">
												<img src="images/img/presidenta.png">
												<p>Andres De La cruz</p>
											</div>

											<div class="col-sm-6 col-md-2 text-center">
												<img src="images/img/presidenta.png">
												<p>Andres De La cruz</p>
											</div>

											<div class="col-sm-6 col-md-2 text-center">
												<img src="images/img/presidenta.png">
												<p>Andres De La cruz</p>
											</div>

											<div class="col-sm-6 col-md-2 text-center">
												<img src="images/img/presidenta.png">
												<p>Andres De La cruz</p>
											</div>

											<div class="col-sm-6 col-md-2 text-center">
												<img src="images/img/presidenta.png">
												<p>Andres De La cruz</p>
											</div>	
										</div>
									</div>
								</div>
							</div>
						</div>
						<!--========fin Junta Directiva=======-->

						<!--Eventos-->
						<div class="col-md-12" style="padding-top: 30px; padding-bottom: 30px">
							<div class="row">
								<div class="col-md-12 text-center">
									<h3>Eventos</h3>
								</div>
								<div class="col-md-6">
									<div class="card">
										<div class="card-body">
											<div class="article border-bottom" style="margin-bottom: 5px">
												<h4>Ultimos Eventos</h4>
											</div>
											<table class="table table-hover">
											  <tbody>
											  	<% for(let i = 0; i < Eventos.length; i ++) {%>
											  		<tr>
												      <td style="width: 15%" class="text-center">
												      	<p style="font-size: 20pt"><b><%- Eventos[i].fecha.getDate() %></b></p>

												      	<% 
															var mes = Eventos[i].fecha.getMonth();

										    				var meses = ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"]; 
										    			%>

												      	<p style="margin-top: -25px; margin-bottom: 0px"><%=meses[mes]%></p>
												      </td>
												      <td>
												      	<a href="javascript:void(0)" v-on:click="getEvento(<%- Eventos[i].id %>)"><h5><%- Eventos[i].nombre %></h5></a>
												      	<p><%- Eventos[i].descripcion.substr(0,60) %>...</p>
												      </td>
												    </tr>
											  	<%}%>
											  </tbody>
											</table>

										</div>
									</div>
								</div>

								<div class="col-md-6">
									<div class="card">
									  <img v-bind:src="'/uploads/eventos/' + evento.files" class="card-img-top" alt="Responsive image">
									  <div class="card-body">
									    <h5 class="card-title">{{ evento.nombre }}</h5>
									    <p class="card-text">{{ resumen }} ...</p>
									    <a href="#" class="btn btn-primary">Leer Mas</a>
									    <a href="#" class="btn btn-primary">Inscribirme</a>
									  </div>
									</div>

									
								</div>
							</div>
						</div>
						<!--Fin de Eventos-->
					</div>
				</div>
			</div>
		</div>
		
		<footer class="footer" style="background: #BEBCB0;">
			<div class="container">
				<span class="text-muted">Pie de Pagina</span>
			</div>
		</footer>

		<script src="/js/jquery-3.3.1.min.js"></script>
		<script src="/js/popper.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<script src="/js/carrusel.js"></script>
		<script src="/js/main.js"></script>
		<script src="/js/vue.js"></script>
		<script src="/js/axios.js"></script>
		<script type="text/javascript">
			new Vue({
				el: '#main',
				data: {
					evento: {},
					resumen: ''

				},
				created() {
					this.getEventoPrincipal();
				},
				methods: {
					getEventoPrincipal() {
						axios.get('/getEventoPrincipal')
							.then(res => {
								this.evento = res.data;
								this.resumen = this.evento.descripcion.substr(0,500);
								console.log(this.evento);
							}).catch(err => {
								console.log(err)
							});
					},
					getEvento(idEvento) {
						axios.get('/getEvento/' + idEvento)
							.then(res => {
								this.evento = res.data;
								this.resumen = this.evento.descripcion.substr(0,500)
								console.log(this.evento);
							}).catch(err => {
								console.log(err)
							});
					}
				}
			});
		</script>
	</body>
</html>