<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>CREDIUDO | Login</title>
</head>
<body>
	<h2>CREDIUDO | Login</h2>
	
	<form id="signin" name="signin" method="post" action="/login">
		<label for="cedula">Cedula de Identidad: </label>
		<input type="text" name="cedula" id="cedula" placeholder="Ingrese sus cedula de Identidad">
		<br><br>
		<label for="password">Contraseña: </label>
		<input type="password" name="password" id="password" placeholder="***********">
		<br><br>
		<input type="submit" name="entrar" value="Entrar">	
	</form>
	
</body>
</html>