<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>CREDIUDO | Login</title>
	<link rel="shortcut icon" href="/images/title/favicon-96x96.png">

	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script type="text/javascript" src="/js/pace.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/css/pace-theme-center-circle.css">

	<!-- Custom styles for this template -->
    <link href="css/sticky-footer-navbar.css" rel="stylesheet">

	<!--======estilo para el error=====-->
	<style>
        label.error{
            color: red;
        }
	</style>
	<!--======fin estilo para el error=====-->
</head>
<body>
	<div class="jumbotron" style="margin-bottom: 0px; padding: 0">
		<img src="images/index/banner-sistema.jpg" alt="Responsive image" class="img-fluid">
	</div>

	<%- include('../partials/index/navbar.html') %>
	
	<div class="container-fluid">
		<br>
		<!--=======MIGAS DE PAN=========-->
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
			   	<li class="breadcrumb-item" aria-current="page"><a href="/">Home</a></li>
			   	<li class="breadcrumb-item active" aria-current="page"><a href="#">Login</a></li>
			</ol>
		</nav>
		<!--=======FIN MIGAS DE PAN=========-->
		
		<br>
		
		<div class="row justify-content-md-center">
			<div class="col-md-4">
				
				<div class="card">
				  	<div class="card-header">
				    	Olvide mi Contraseña
				  	</div>
				  	
				  	<div class="card-body">
				  		<form id="forgot" name="forgot" method="POST" action="/forgot">
							<div class="form-group">
								<label for="cedula">Correo Electronico: </label>
								<input type="mail" name="email" class="form-control" id="email" placeholder="Ingrese sus Correo Electronico" autofocus>
							</div>

							<input type="submit" class="btn btn-primary" name="entrar" value="Reiniciar Contraseña">
				  		</form>
				  	</div>
				</div>
			</div>
		</div>

		<br>
	</div>

	<footer class="footer" style="background: #BEBCB0;">
		<div class="container">
			<span class="text-muted">Pie de Pagina</span>
		</div>
	</footer>

	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="/js/jquery.validate.min.js"></script>
	<script src="/js/main.js"></script>
</body>
</html>