<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>CREDIUDO | Coord. Planificación</title>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- Custom styles for this template -->
    <link href="/css/sticky-footer-navbar.css" rel="stylesheet">
</head>
<body>
	<div class="jumbotron" style="margin-bottom: 0px; padding: 0">
		<img src="/images/index/banner-sistema.jpg" alt="Responsive image" class="img-fluid">
	</div>	

	<%- include('../../partials/coord_plani/navbar.html') %>

	<div class="container-fluid" id="main">
		<div class="row justify-content-md-center">
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-12">
						<!--=======MIGAS DE PAN=========-->
						<nav aria-label="breadcrumb" style="margin-top: 1%">
							<ol class="breadcrumb">
							    <li class="breadcrumb-item active" aria-current="page">Home</li>
							    <li class="breadcrumb-item active" aria-current="page">Planificar Evaluación</li>
							</ol>
						</nav>
						<!--=======FIN MIGAS DE PAN=========-->
					</div>
				</div>

				<div class="row">
					<div class="col-md-3">
						<div class="card">
						  	<div class="card-header">
						    	Datos Personales:
						  	</div>
						  
						  	<div class="card-body">
						    	<div class="form-group">
						    		<p><b>Nombre: </b></p>
						    		<p><b>Apellido: </b></p>
						    		<p><b>Nucleo: </b></p>
						    		<p><b>Unidad: </b></p>
						    	</div>
						  	</div>
						</div>
						<br>
					</div>

					<div class="col-md-9">
						<div class="row">
							<div class="col-md-12">
								<div class="card">
									<div class="card-body">
										<div class="row">
											<div class="col-md-12">
												<h4>Editar Evaluación</h4>
												<hr>
												<% 
													<!--variable para guardar fecha actual-->
													var hoy = new Date();

													<!--variable para guardar fecha de inicio de la evaluacion-->
													var fechaI =  Evaluacion.fecha_i;

													<!--dia en q se iniciara la evaluacion-->
													var dia_I = '' + fechaI.getDate();

													<!--mes en q se iniciara la evaluacion-->
													var m_I = parseInt(fechaI.getMonth())+1

													<!--formato mes con dos digitos-->
													var mes_I = '' + m_I;

													<!--año en el q iniciara la evaluacion-->
													var anio_I = fechaI.getFullYear();

													if (mes_I.length < 2) mes_I = '0' + mes_I;
    												if (dia_I.length < 2) dia_I = '0' + dia_I;
													
													<!--concatenando y dando formato valido a la fecha-->
													var fecha_completaI = anio_I+"-"+mes_I+"-"+dia_I;

													var fechaF = Evaluacion.fecha_f;
													var dia_f = '' + fechaF.getDate();
													var dia_f = '' + fechaF.getDate();
													var m_f = parseInt(fechaF.getMonth())+1
													var mes_f = '' + m_f;
													var anio_f = fechaF.getFullYear();

													if (mes_f.length < 2) mes_f = '0' + mes_f;
    												if (dia_f.length < 2) dia_f = '0' + dia_f;

													var fecha_completaF = anio_f+"-"+mes_f+"-"+dia_f;
												%>

												<% if(Evaluacion.fecha_i > hoy) {%>
													<form v-on:submit="checkForm" method="POST" action="/coord_plani/editEval/<%- Evaluacion.id %>">
							                        	<div class="modal-body">
							                          		<div class="form-row">
							                          			<div class="form-group col-md-6">
							                          				<label>Nucleo: </label>
							                          				<select v-model="evaluacion.nucleoCodigo" name="nucleo" class="form-control" @change="getUnidades(evaluacion.nucleoCodigo)">
							                          					<option v-for="option in nucleos" v-bind:value="option.codigo">{{ option.nombre }}</option>
							                          				</select>
							                          			</div>

							                          			<div class="form-group col-md-6">
							                          				<label>Unidad: </label>
							                          				<select v-model="evaluacion.unidadCodigo" name="unidad" class="form-control">
							                          					<option v-for="option in unidades" v-bind:value="option.codigo">{{ option.nombre }}</option>
							                          				</select>
							                          			</div>
							                          		</div>

							                          		<div class="form-row">
							                          			<div class="form-group col-md-6">
							                          				<label>Fecha Inicio: </label>
							                          				<input type="date" v-model="evaluacion.fecha_i" name="fecha_i" class="form-control">
							                          			</div>

							                          			<div class="form-group col-md-6">
							                          				<label>Fecha Final: </label>
							                          				<input type="date" v-model="evaluacion.fecha_f" name="fecha_f" class="form-control">
							                          			</div>
							                          		</div>

							                        	</div>  
							                      
							                        	<!-- Modal footer -->
							                        	<div class="modal-footer">
							                          		<button type="submit" class="btn btn-primary">Submit</button>
							                        	</div>
							                      	</form>
												<%} else {%>
													<form v-on:submit="verificarForm" method="POST" action="/coord_plani/eval_encurso">
														<input type="hidden" name="id" value="<%- Evaluacion.id %>">
							                        	<div class="modal-body">
							                          		<div class="form-row">
							                          			<div class="form-group col-md-6">
							                          				<label>Nucleo: </label>
							                          				<input type="text" name="nucleo" class="form-control" value="<%- Evaluacion.nucleo.nombre %>" disabled>
							                          			</div>

							                          			<div class="form-group col-md-6">
							                          				<label>Unidad: </label>
							                          				<input type="text" name="unidad" class="form-control" value="<%- Evaluacion.unidad.nombre %>" disabled>
							                          			</div>
							                          		</div>

							                          		<div class="form-row">
							                          			<div class="form-group col-md-6">
							                          				<label>Fecha Inicio: </label>
							                          				<input type="date" v-model="evaluacion.fecha_i" name="evaluacion.fecha_i" class="form-control"  disabled>
							                          			</div>

							                          			<div class="form-group col-md-6">
							                          				<label>Fecha Final: </label>
							                          				<input type="date" v-model="evaluacion.fecha_f" name="fecha_f" class="form-control">
							                          			</div>
							                          		</div>

							                        	</div>  
							                      
							                        	<!-- Modal footer -->
							                        	<div class="modal-footer">
							                          		<button type="submit" class="btn btn-primary">Submit</button>
							                        	</div>
							                      	</form>
												<%}%>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<footer class="footer" style="background: #BEBCB0;">
		<div class="container">
			<span class="text-muted">Pie de Pagina</span>
		</div>
	</footer>

	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/jquery.validate.min.js"></script>
	
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
	<script type="text/javascript">
		new Vue({
			el:'#main',
			data: {
				evaluacion: {},
				nucleos: [],
				unidades: [],
				fecha_i: '',
				fecha_f: ''
			},
			created() {
				var currentUrl = window.location.pathname.split('/');
				var id = currentUrl[3];

				this.getEvaluacion(id);
				this.getNucleos();
			},
			methods: {
				getEvaluacion(id) {
					axios.get('/getEvaluacion/'+id)
						.then(res => {
							this.evaluacion = res.data;
							this.getUnidades(this.evaluacion.nucleoCodigo);

							/*----------Dando Formato a la fecha Inicial-----------*/
							var fecha_i = this.evaluacion.fecha_i;
							this.evaluacion.fecha_i = fecha_i.substring(0,10);
							/*----------Dando Formato a la fecha Final-----------*/
							var fecha_f = this.evaluacion.fecha_f;
							this.evaluacion.fecha_f = fecha_f.substring(0,10);
						}).catch(err => {
							console.log();
						});
				},
				getNucleos() {
					axios.get('/getNucleos')
						.then(res => {
							this.nucleos = res.data;
							//console.log(this.nucleos);
						}).catch(err => {
							console.log(err);
						});
				},
				getUnidades(nucleoCodigo) {
					axios.get('/getUnidades/'+nucleoCodigo)
						.then(res => {
							this.unidades = res.data;
							//console.log(this.unidades);
						}).catch(err => {
							console.log(err);
						});
				},
				checkForm() {
					let fechaActual = new Date();
			    	let fechaInicio = new Date(this.evaluacion.fecha_i);
			    	let fechaFinal = new Date(this.evaluacion.fecha_f);

			    	if(fechaActual.getTime() > fechaInicio.getTime()) {
			      		alert("La Fecha de Inicio No puede ser Menor a la Fecha Actual");
			      		event.preventDefault();
			      	} else if(fechaInicio.getTime() >= fechaActual.getTime()){
			      		if((fechaFinal.getTime() <= fechaActual.getTime()) || (fechaFinal.getTime() <= fechaInicio.getTime())) {
			      			alert("La Fecha Final No puede ser Menor a la Fecha Actual o a la Fecha de Inicio");
			      			event.preventDefault();
			      		} else {
			      			console.log("Exito, Evaluacion Planificada");
			      			return true;
			      		}
			      	}
				},
				verificarForm() {
					let fechaActual = new Date();
			    	let fechaInicio = new Date(this.evaluacion.fecha_i);
			    	let fechaFinal = new Date(this.evaluacion.fecha_f);

			    	
			      		if((fechaFinal.getTime() <= fechaActual.getTime()) || (fechaFinal.getTime() <= fechaInicio.getTime())) {
			      			alert("La Fecha Final No puede ser Menor a la Fecha Actual o a la Fecha de Inicio");
			      			event.preventDefault();
			      		} else {
			      			console.log("Exito, Evaluacion Planificada");
			      			return true;
			      		} 	
				}
			}
		})
	</script>
</body>
</html>