<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>CREDIUDO | Coord. Planificación</title>
	<link rel="shortcut icon" href="/images/title/favicon-96x96.png">

	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<!--===================Cargando Pagina===================-->
	<script type="text/javascript" src="/js/pace.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/css/pace-theme-center-circle.css">

	<!-- Custom styles for this template -->
    <link href="/css/sticky-footer-navbar.css" rel="stylesheet">

    <!--======estilo para el error=====-->
	<style>
        label.error{
            color: red;
        }
	</style>
	<!--======fin estilo para el error=====-->  
</head>
<body>
	<div id="main">
		<div class="jumbotron" style="margin-bottom: 0px; padding: 0">
			<img src="/images/index/banner-sistema.jpg" alt="Responsive image" class="img-fluid">
		</div>	

		<%- include('../../partials/coord_plani/navbar.html') %>

		<div class="container-fluid">
			<div class="row justify-content-md-center">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-12">
							<!--=======MIGAS DE PAN=========-->
							<nav aria-label="breadcrumb" style="margin-top: 1%">
								<ol class="breadcrumb">
								    <li class="breadcrumb-item active" aria-current="page"><a href="/coord_plani">Home</a></li>
								    <li class="breadcrumb-item active" aria-current="page">Evaluaciones Todas</li>
								</ol>
							</nav>
							<!--=======FIN MIGAS DE PAN=========-->
						</div>
					</div>

					<div class="row">
						<div class="col-md-3">
							<div class="card">
							  	<div class="card-header">
							    	Datos Personales:
							  	</div>
							  
							  	<div class="card-body">
							    	<div class="form-group">
							    		<p><b>Nombre: </b><%- Usuario.nombre %></p>
							    		<p><b>Apellido: </b><%- Usuario.apellido %></p>
							    		<p><b>Nucleo: </b><%- Usuario.nucleo.nombre %></p>
							    		<p><b>Unidad: </b><%- Usuario.unidad.nombre %></p>
							    		<p><b>Unidad: </b><%- Usuario.rol.nombre %></p>
							    	</div>
							  	</div>
							</div>
						</div>

						<div class="col-md-9">
							<div class="row">
								<div class="col-md-12">
									<div class="card">
										<div class="card-body">
											<div class="article border-bottom">
												<h4>Buscar</h4>
											</div>
											<br>
											<div class="form-group row">
											    <label for="status" class="col-sm-2 col-form-label">Estatus</label>
											    <div class="col-sm-10">
											      <select name="status" class="form-control">
											      	<option value="">Todas</option>
											      	<option value="">Proximas</option>
											      	<option value="">Activas</option>
											      	<option value="">Culminadas</option>
											      </select>
											    </div>
											</div>
										</div>
									</div>

									<br>

									<div class="card">
										<div class="card-body">
											<div class="article border-bottom">
												<h3>Todas las Evaluaciones</h3>
											</div>
											<table class="table table-hover">
											  <thead>
											    <tr>
											      <th scope="col">#</th>
											      <th scope="col">Nucleo</th>
											      <th scope="col">Unidad</th>
											      <th scope="col">Fecha I</th>
											      <th scope="col">Fecha F</th>
											      <th scope="col">Estatus</th>
											    </tr>
											  </thead>
											  <tbody>
											    <tr v-for="eval in evaluaciones">
											      <th scope="row">1</th>
											      <td>{{ eval.nucleo.nombre }}</td>
											      <td>{{ eval.unidad.nombre }}</td>
											      <td>@mdo</td>
											      <td>@mdo</td>
											      <td><p style="font-size: 15pt; color: blue" data-toggle="tooltip" data-placement="right" title="En Proceso"><i class="fa fa-clock-o" aria-hidden="true"></i></p></td>
											    </tr>
											  </tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<br>
		
		<footer class="footer" style="background: #BEBCB0;">
			<div class="container">
				<span class="text-muted">Pie de Pagina</span>
			</div>
		</footer>
	</div>

	<script src="/js/jquery-3.3.1.min.js"></script>
	<script src="/js/popper.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/jquery.validate.min.js"></script>
	<script src="/js/main.js"></script>
	<script src="/js/vue.js"></script>
	<script src="/js/axios.js"></script>
	<script type="text/javascript">
		new Vue({
			el:'#main',
			data: {
				evaluaciones: [],
				inicio: '',
				evaluacion: {}
			},
			created() {
				this.getEvaluacionesTodas();
			},
			methods: {
				getEvaluacionesTodas() {
					axios.get('/coord_plani/getEvaluacionesTodas')
						.then(res => {
							this.evaluaciones = res.data;
							console.log(this.evaluaciones);
						}).catch(err => {
							console.log(err);
						});
				}
			}
		});
	</script>
</body>
</html>