<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>CREDIUDO | Coord. Planificación</title>
	<link rel="shortcut icon" href="/images/title/favicon-96x96.png">

	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<!--===================Cargando Pagina===================-->
	<script type="text/javascript" src="/js/pace.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/css/pace-theme-center-circle.css">

	<!-- Custom styles for this template -->
    <link href="/css/sticky-footer-navbar.css" rel="stylesheet">

    <!--======estilo para el error=====-->
	<style>
        label.error{
            color: red;
        }
	</style>
	<!--======fin estilo para el error=====-->  
</head>
<body>
	<div class="jumbotron" style="margin-bottom: 0px; padding: 0">
		<img src="/images/index/banner-sistema.jpg" alt="Responsive image" class="img-fluid">
	</div>	

	<%- include('../../partials/coord_plani/navbar.html') %>

	<div class="container-fluid" id="main">
		<div class="row justify-content-md-center">
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-12">
						<!--=======MIGAS DE PAN=========-->
						<nav aria-label="breadcrumb" style="margin-top: 1%">
							<ol class="breadcrumb">
							    <li class="breadcrumb-item active" aria-current="page">Home</li>
							    <li class="breadcrumb-item active" aria-current="page">Planificar Evaluación</li>
							</ol>
						</nav>
						<!--=======FIN MIGAS DE PAN=========-->
					</div>
				</div>

				<div class="row">
					<div class="col-md-3">
						<div class="card">
						  	<div class="card-header">
						    	Datos Personales:
						  	</div>
						  
						  	<div class="card-body">
						    	<div class="form-group">
						    		<p><b>Nombre: </b></p>
						    		<p><b>Apellido: </b></p>
						    		<p><b>Nucleo: </b></p>
						    		<p><b>Unidad: </b></p>
						    	</div>
						  	</div>
						</div>
					</div>

					<div class="col-md-9">
						<div class="row">
							<div class="col-md-12">
								<div class="card">
									<div class="card-header">
										Planificar Evaluación
									</div>

									<div class="card-body">
										<fieldset v-bind:disabled="deshabilitar">
											<form v-on:submit="checkForm()" method="post" action="/coord_plani/plani_eval">
												<div class="form-row">
													<div class="form-group col-md-6">
														<label>Personal a Evaluar:</label>
														<select name="categoria" id="categoria" class="form-control" autofocus>
															<option value=""> --Seleccione una Opción-- </option>
															<% for(var i = 0; i < Categorias.length; i ++) {%>
																<option value="<%= Categorias[i].id %>"><%= Categorias[i].nombre %></option>
															<%}%>
														</select>
													</div>

													<!--
													<div class="form-group col-md-6">
														<label>Nucleo: </label>
														<select name="nucleo" id="nucleo" class="form-control">
															<option value=""> --Seleccione una Opción-- </option>
															<% for(var j = 0; j < Nucleos.length; j ++) {%>
																<option value="<%= Nucleos[j].codigo %>"><%= Nucleos[j].nombre %></option>
															<%}%>
														</select>
													</div>
													-->
													<div class="form-group col-md-6">
														<label>Nucleo: </label>
														<select v-model="nucleo" name="nucleo" class="form-control" @change="getUnidades(nucleo)">
															<option disabled value="">Please select one</option>
															<option v-for="option in options" v-bind:value="option.codigo">
																{{ option.nombre }}
															</option>
														</select>
													</div>
												</div>

												<div class="form-group">
													<label>Unidad:</label>
													<select name="unidad" class="form-control">
														<option disabled value="">Please select one</option>
														<option v-for="uni in unidades" v-bind:value="uni.codigo">
															{{ uni.nombre }}
														</option>
													</select>	
												</div>

												<div class="form-group">
													<label>Nombre de la Evaluación:</label>
													<input type="text" name="nombre" placeholder="Nombre o Titulo de la Evaluación" class="form-control">	
												</div>

												<div class="form-row">
													<div class="form-group col-md-6">
														<label>Fecha de Inicio:</label>
														<input type="date" v-model="fecha_i" name="fecha_i" id="fecha_i" class="form-control">
													</div>

													<div class="form-group col-md-6">
														<label>Fecha de Fin:</label>
														<input type="date" v-model="fecha_f" name="fecha_f" id="fecha_f" class="form-control">
													</div>
												</div>

												<hr>

												<input type="submit" name="aceptar" value="Aceptar" class="btn btn-primary btn-block">
											</form>
										</fieldset>
									</div>
								</div>
							</div>
						</div>
					</div>


				</div>
			</div>
		</div>
	</div>

	<br>
	
	<footer class="footer" style="background: #BEBCB0;">
		<div class="container">
			<span class="text-muted">Pie de Pagina</span>
		</div>
	</footer>

	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/jquery.validate.min.js"></script>
	<script src="/js/main.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
	<script type="text/javascript">
		new Vue({
			el:'#main',
			data: {
				unidades: [],
				nucleo: {},
				options: [],
				instrumentos: '',
				deshabilitar: true,
				fecha_i: '',
				fecha_f: ''
			},
			created() {
				this.getInstrumentos();
				this.getNucleos();
			},
			methods: {
				/*
					Solicitar el num de Instrumentos disponibles para poder planificar una 
					Evaluacion (debe existir uno de cada tipo de Eval para que pueda continuar)
				*/
				getInstrumentos() {
					axios.get('/coord_plani/getInstrumentos')
						.then(res => {
							this.instrumentos = res.data;
							//console.log(this.instrumentos);
							if(this.instrumentos == false) {
								alert("No puede Planificar Ninguna Evaluación, hasta que los Instrumentos de Evaluación esten Disponible. Pongase en Contacto con el Coord. Evaluación");
								console.log(this.instrumentos)
							} else {
								this.deshabilitar = false;
							}
						}).catch(err => {
							console.log(err)
						})
				},
				getNucleos() {
					axios.get('/getNucleos')
						.then(res => {
							this.options = res.data
						}).catch(err => {
							console.log(err)
						});
				},
				getUnidades(id) {
					axios.get('/getUnidades/' + id)
						.then(res => {
							this.unidades = res.data
						}).catch(err => {
							console.log(err)
						})
				},

				checkForm() {
			    	let fechaActual = new Date();
			    	let fechaInicio = new Date(this.fecha_i);
			    	let fechaFinal = new Date(this.fecha_f);

			    	if(fechaActual.getTime() > fechaInicio.getTime()) {
			      		alert("La Fecha de Inicio No puede ser Menor a la Fecha Actual");
			      		event.preventDefault();
			      	} else if(fechaInicio.getTime() >= fechaActual.getTime()){
			      		if((fechaFinal.getTime() <= fechaActual.getTime()) || (fechaFinal.getTime() <= fechaInicio.getTime())) {
			      			alert("La Fecha Final No puede ser Menor a la Fecha Actual o a la Fecha de Inicio");
			      			event.preventDefault();
			      		} else {
			      			console.log("Exito, Evaluacion Planificada");
			      			return true;
			      		}
			      	}
			    }
			}
		})
	</script>
</body>
</html>