<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>CREDIUDO | Coord. Planificación</title>
</head>
<body>
	<h3>Planificar Evaluación</h3>
	<br>
	
	<form method="post" action="/coord_plani/plani_eval" id="formEvaluacion">
		<!--
		<label>Nombre de la Evaluacion:</label>
		<input type="text" name="nombre">

		<br><br>

		<label>Fecha de Inicio:</label>
		<input type="date" name="fecha_i">

		<label>Fecha de Fin:</label>
		<input type="date" name="fecha_f">
		-->
		<br><br>

		<label>Personal a Evaluar: </label>
		<select name="categoria" id="categoria">
			<option value=""> --Seleccione una Opción-- </option>
			<% for(var i = 0; i < Categorias.length; i ++) {%>
				<option value="<%= Categorias[i].id %>"><%= Categorias[i].nombre %></option>
			<%}%>
		</select>

		<br><br>

		<label>Nucleo: </label>
		<select name="nucleo" id="nucleo">
			<option value=""> --Seleccione una Opción-- </option>
			<% for(var j = 0; j < Nucleos.length; j ++) {%>
				<option value="<%= Nucleos[j].codigo %>"><%= Nucleos[j].nombre %></option>
			<%}%>
		</select>
		
		<br><br>

		<input type="submit" name="guardar" value="Guardar">	
	</form>
	
</body>
</html>