<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>CREDIUDO | Evaluaciones Planificadas</title>

	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">


	<script type="text/javascript" src="/js/pace.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/css/pace-theme-center-circle.css">
	<!-- Custom styles for this template -->
    <link href="/css/sticky-footer-navbar.css" rel="stylesheet">
    <style type="text/css">
    	.anyClass {
		  height: 550px;
		  overflow-y: scroll;
		}
    </style>
</head>
<body>
	<div class="jumbotron" style="margin-bottom: 0px; padding: 0">
		<img src="/images/index/banner-sistema.jpg" alt="Responsive image" class="img-fluid">
	</div>	

	<%- include('../../../partials/president/navbar.html') %>

	<div class="container-fluid" id="main">
		<div class="row justify-content-md-center">
			<!--=======MIGAS DE PAN=========-->
			<div class="col-md-12">
				<nav aria-label="breadcrumb" style="margin-top: 1%">
					<ol class="breadcrumb">
					    <li class="breadcrumb-item" aria-current="page"><a href="/president">Home</a></li>
					    <li class="breadcrumb-item" aria-current="page"><a href="/president/nucleos">Nucleos</a></li>
					    <li class="breadcrumb-item active" aria-current="page"><%- Unidad.nombre %></li>
					</ol>
				</nav>
			</div>
			<!--=======FIN MIGAS DE PAN=========-->

			<!--==============Nav Izquierdo============-->
			<div class="col-md-3">
				<div class="row">
					<div class="col-md-12">
						<div class="card">
							<div class="card-header">
								Usuario Logeado
							</div>
							<div class="card-body">
								<p><b>Nombre: </b><%- Usuario.nombre %></p>
								<p><b>Apellido: </b><%- Usuario.apellido %></p>
								<p><b>Nucleo: </b><%- Usuario.nucleo.nombre %></p>
								<p><b>Unidad: </b><%- Usuario.unidad.nombre %></p>
							</div>
						</div>
						<br>
					</div>

					<div class="col-md-12">
						<div class="card">
							<div class="card-header">
								Unidad Seleccionada
							</div>
							<div class="card-body">
								<p><b>Nucleo: </b><%- Unidad.nucleo.nombre %></p>
								<p><b>Unidad: </b><%- Unidad.nombre %></p>
								<p><b>Personal: </b><%- Users.length %></p>
							</div>
						</div>
						<br>
					</div>
				</div>
			</div>

			<!--=============Contenido=============-->
			<div class="col-md-9">
				<div class="row">
					<div class="col-md-4
					">
						<div class="card">
							<div class="card-body">
								<div class="article border-bottom">
									<h3>Veces Evaluada</h3>
								</div>
								<div>
									<p style="font-size: 70pt" class="text-center">
										<%- Evals.length %>
									</p>
								</div>
							</div>
						</div>
					</div>
					<br>
					<div class="col-md-4
					">
						<div class="card">
							<div class="card-body">
								<div class="article border-bottom">
									<h3>Promedio</h3>
								</div>
								<div>
									<p style="font-size: 70pt" class="text-center">
										<% var acomulado = 0 %>
										<% var promedio = 0 %>
										<% for(let i = 0; i < califiUnidad.length; i ++) {
											acomulado = acomulado + califiUnidad[i].value
										}%>
										<% promedio = acomulado/ califiUnidad.length %>
										<%- promedio %>
									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="col-md-4
					">
						<div class="card">
							<div class="card-body">
								<div class="article border-bottom">
									<h3>Ultima Calificación</h3>
								</div>
								<div>
									<% if(califiUnidad && califiUnidad.length > 0) {%>
									<p style="font-size: 70pt" class="text-center">
										<%- califiUnidad[0].value %>
									</p>
									<%} else {%>
										<p style="font-size: 80pt" class="text-center">
											nada
										</p>
									<%}%>
								</div>
							</div>
						</div>
					</div>
					
					<div class="col-md-12">
						<br>
						<div class="row">
							<div class="col-md-5">
								<div class="card">
									<div class="card-body">
										<div class="article border-bottom">
											<h3>Personal (<%- Users.length %>)</h3>
										</div>
										<table class="table table-hover table-bordered">
										  <thead>
										    <tr>
										      <th style="width: 15%">Rango</th>
										      <th>Nombre y Apellido</th>
										      
										    </tr>
										  </thead>
										  <tbody>
											<% for(let i = 0; i < Users.length; i ++) {%>
												<% if(Users[i].cargoId == 2) {%>
													<tr>
												      <th scope="row" class="text-center"><p style="font-size: 15pt" title="Jefe"><i class="fas fa-chess-king"></i></p></th>
												      <td><a href="/president/nucleos/unidad/<%- Users[i].unidadCodigo %>/userPerfil/<%- Users[i].cedula %>"><%- Users[i].nombre %> <%- Users[i].apellido %></a></td>
												    </tr>
												<%} else if(Users[i].cargoId == 3) {%>
													<tr>
												      <th scope="row" class="text-center"><p style="font-size: 15pt" title="Empleado"><i class="fas fa-chess-pawn"></i></p></th>
												      <td><a href="/president/nucleos/unidad/<%- Users[i].unidadCodigo %>/userPerfil/<%- Users[i].cedula %>"><%- Users[i].nombre %> <%- Users[i].apellido %></a></td>
												    </tr>
												<%}%>
											<%}%>
										  </tbody>
										</table>
									</div>
								</div>
							</div>

							<div class="col-md-7">
								<div class="card">
									<div class="card-body">
										<div class="article border-bottom">
											<h3>Evaluaciones Culminadas</h3>
										</div>
										<table class="table table-hover table-bordered">
											<thead>
										    <tr>
										      <th>Nombre</th>
										      <th>Fecha I</th>
										      <th>Fecha F</th>
										      <th>Califi.</th>  
										    </tr>
										  </thead>
										  <tbody>
										  	<% for(let i = 0; i < califiUnidad.length; i ++) {%>
												<tr>
													<td><a href=""><%- califiUnidad[i].evaluacion.nombre %></a></td>
													<td>
														<%= califiUnidad[i].evaluacion.fecha_i.getDate() %>/<%= califiUnidad[i].evaluacion.fecha_i.getMonth() + 1 %>/<%= califiUnidad[i].evaluacion.fecha_i.getFullYear() %>
													</td>
													<td>
														<%= califiUnidad[i].evaluacion.fecha_f.getDate() %>/<%= califiUnidad[i].evaluacion.fecha_f.getMonth() + 1 %>/<%= califiUnidad[i].evaluacion.fecha_f.getFullYear() %>
													</td>
													<td><%- califiUnidad[i].value %></td>
												</tr>
										  	<%}%>
										  </tbody>
										</table>
									</div>
								</div>
							</div>							
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>

	<br>
	<footer class="footer" style="background: #BEBCB0;">
		<div class="container">
			<span class="text-muted">Pie de Pagina</span>
		</div>
	</footer>

	<script src="/js/jquery-3.3.1.min.js"></script>
	<script src="/js/popper.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/jquery.validate.min.js"></script>
	<script src="/js/main.js"></script>
</body>
</html>