<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>CREDIDUDO | ADMIN</title>

	<style>
		table, th, td {
    		border: 1px solid black;
    		border-collapse: collapse;
		}
	</style>


</head>
<body>
	<h3>Asignar Coord Planificación</h3>

	<form method="post" action="/admin/buscar_cp">
		<label for="cedula">Cedula de Identidad: </label>
		<input type="text" name="cedula" placeholder="Ingrese una Cedula">

		<input type="submit" name="buscar" value="Buscar">
	</form>
	
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
	<script src="/js/app.js">	
		
	</script>
</body>
</html>