<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>CREDIUDO | Presidente</title>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<!--Barra de Progreso-->
	<script type="text/javascript" src="/js/pace.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/css/pace-theme-center-circle.css">
	<!-- Pie de Pagina -->
    <link href="/css/sticky-footer-navbar.css" rel="stylesheet">
</head>
	
<body>
	<div class="jumbotron" style="margin-bottom: 0px; padding: 0">
		<img src="/images/index/banner-sistema.jpg" alt="Responsive image" class="img-fluid">
	</div>	

	<%- include('../../../partials/president/navbar.html') %>
	
	<div class="container-fluid">
		<div class="row justify-content-md-center">
			<div class="col-md-10">
				<div class="row">
					<div class="col-md-12">
						<!--=======MIGAS DE PAN=========-->
						<nav aria-label="breadcrumb" style="margin-top: 1%">
							<ol class="breadcrumb">
							    <li class="breadcrumb-item" aria-current="page"><a href="">Home</a></li>
							    <li class="breadcrumb-item active" aria-current="page">Detalles</li>
							</ol>
						</nav>
						<!--=======FIN MIGAS DE PAN=========-->				
					</div>
				</div>

				<div class="row">
					<div class="col-md-3">
						<div class="card">
						  	<div class="card-header">
						    	Datos Personales:
						  	</div>
						  
						  	<div class="card-body">
						    	<div class="form-group">
						    		<p><b>Nombre: </b><%= usuario.nombre %></p>
						    		<p><b>Apellido: </b><%= usuario.apellido %></p>
						    		<p><b>Nucleo: </b><%= usuario.nucleoCodigo %></p>
						    		<p><b>Unidad: </b><%= usuario.unidadCodigo %></p>
						    	</div>
						  	</div>
						</div>
						<br>
					</div>

					<div class="col-md-9">
						<div class="card">
							<div class="card-body">
								<h3>
									<b>Evaluado: </b>
									<% for(let i = 0; i < Empleado.length; i ++) {%>
										<% if(dataEvaluacion.usuarioEvaluado == Empleado[i].cedula) {%>
											<%= Empleado[i].nombre %> <%= Empleado[i].apellido %>
										<%}%>
									<%}%>
								</h3>
								<hr>
								<table style="width:100%">
									<tr>
										<th style="width: 40%">Factor</th>
										<th>Calificación</th>
									</tr>

									<% for(let i = 0; i < instrumentFactor.length; i ++) {%>
										<tr>
											<td><%= instrumentFactor[i].factor.nombre %></td>
											<td style="padding: 5px">
												<div class="progress">
												  	<div class="progress-bar" role="progressbar" style="width: <%= calificacionFactor[i] * 10 %>%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><b><%= calificacionFactor[i] %> Ptos</b></div>
												</div>
											</td>	
										</tr>
									<%}%>
								</table>		
							</div>
						</div>

						<hr>
						
						<div class="card">
							<div class="card-body">
								<table style="width: 100%">
									<tr>
										<td style="width: 40%"><h2>Calificación General: </h2></td>
										<td>
											<div class="progress">
												<div class="progress-bar" role="progressbar" style="width: <%= dataEvaluacion.calificacion * 10 %>%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><b> <%= dataEvaluacion.calificacion %> Ptos</b></div>
											</div>
										</td>
									</tr>
								</table>			
							</div>
						</div>
						
						<br>

						<% if(observacion && Observacion.length == 0) {%>
						<form method="post" action="/president/observacion/<%- Evaluacion.id %>">
							<input type="hidden" name="cedula" value="<%- dataEvaluacion.usuarioEvaluado %>">
							<div class="form-group">
								<label for="comment"><b>Observación:</b></label>
								<textarea class="form-control" rows="5" id="comment" name="observacion"></textarea>
							</div>
							<hr>
							<input type="submit" name="enviar" value="Enviar" class="btn btn-primary btn-block">
						</form>
						<br>
						<%} else if(observacion && Observacion.length > 0) {%>
							<div class="form-group">
								<label for="comment"><b>Observación:</b></label>
								<textarea class="form-control" rows="5" id="comment" name="observacion"><%- Observacion[0].contenido %></textarea>
							</div
						<%}%>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--
	<h3>Examen Culminado</h3>
	<a href="/logout">Cerar Sesion</a>
	<hr>
	
	<table style="width:50%">
		<tr>
			<th>Factor</th>
			<th>Calificación</th>
		</tr>

		<% for(let i = 0; i < instrumentFactor.length; i ++) {%>
			<tr>
				<td><%= instrumentFactor[i].factor.nombre %></td>
				<td>
					<%= calificacionFactor[i] %> Ptos.
				</td>	
			</tr>
		<%}%>
	</table>
	
	<br>
	
	<% for(let j = 0; j < dataEvaluacion.length; j ++) {%>

	<%}%>
	<table style="width:15%">
		<tr>
			<th>Calificación General</th>
		</tr>

		<tr>
			<td>
				<h1><%= dataEvaluacion.calificacion %> Ptos</h1>
			</td>
		</tr>
	</table>

	<% if(observacion) {%>
		<h3>obsevacion</h3>
	<%} else{%>

	<%}%>
-->
	<footer class="footer" style="background: #BEBCB0;">
		<div class="container">
			<span class="text-muted">Pie de Pagina</span>
		</div>
	</footer>

	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/jquery.validate.min.js"></script>
	<script src="/js/main.js"></script>
</body>
</html>