<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>CREDIUDO | Inicio</title>

	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<!--Barra de Progreso-->
	<script type="text/javascript" src="/js/pace.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/css/pace-theme-center-circle.css">
	
	<!-- Pie de Pagina -->
    <link href="/css/sticky-footer-navbar.css" rel="stylesheet">
</head>
<body>
	<div class="jumbotron" style="margin-bottom: 0px; padding: 0">
		<img src="/images/index/banner-sistema.jpg" alt="Responsive image" class="img-fluid">
	</div>	

	<%- include('../../partials/empleado/navbar.html') %>

	<div class="container-fluid" id="main">
		<div class="row justify-content-md-center">
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-12">
						<!--=======MIGAS DE PAN=========-->
						<nav aria-label="breadcrumb" style="margin-top: 1%">
							<ol class="breadcrumb">
							    <li class="breadcrumb-item" aria-current="page"><a href="/dashboard">Home</a></li>
							    <li class="breadcrumb-item active" aria-current="page">Evaluación</li>
							</ol>
						</nav>
						<!--=======FIN MIGAS DE PAN=========-->				
					</div>
					
					<!--info izquierdo-->
					<div class="col-sm-12 col-md-12 col-lg-3">
						<div class="row">
							<!--Datos del Inicio de Sesion-->
							<div class="col-sm-6 col-md-6 col-lg-12">
								<div class="card">
								  	<div class="card-header">
								    	Datos Personales:
								  	</div>
								  
								  	<div class="card-body">
								    	<div class="form-group">
								    		<input type="hidden" id="cedula" value="<%- Usuario.cedula %>">
								    		<% if(Jefe) {%>
												<input type="hidden" id="evaluado" value="<%- Jefe.cedula %>">
								    		<%}%>
								    		
								    		<p><b>Nombre: </b><%= Usuario.nombre %></p>
								    		<p><b>Apellido: </b><%= Usuario.apellido %></p>
								    		<p><b>Nucleo: </b><%= Usuario.nucleo.nombre %></p>
								    		<p><b>Unidad: </b><%= Usuario.unidad.nombre %></p>
								    	</div>
								  	</div>
								</div>
								<br>
							</div>
							
							<!--Como Evaluar-->
							<div class="col-sm-6 col-md-6 col-lg-12">
								<div class="card">
								  	<div class="card-header">
								    	¿Sabes como Evaluar?
								  	</div>
								  
								  	<div class="card-body">
								    	<div class="form-group">
								    		<p><b>Nombre: </b><%= Usuario.nombre %></p>
								    		<p><b>Apellido: </b><%= Usuario.apellido %></p>
								    		<p><b>Nucleo: </b><%= Usuario.nucleo.nombre %></p>
								    		<p><b>Unidad: </b><%= Usuario.unidad.nombre %></p>
								    	</div>
								  	</div>
								</div>
							</div>
						</div>
						<br>
					</div>
					
					<!--Contenido-->
					<div class="col-sm-12 col-md-12 col-lg-9">
						
						<div class="card">
							<div class="card-body">
								<div class="article border-bottom">
									<h2>Datos de La Evaluación</h2>
								</div>
								<br>
								<div class="row">
									<div class="col-sm-3 col-md-3 col-lg-3 text-center">
										<div class="card">
											<div class="card-body">
												<img src="/images/title/favicon-96x96.png">
											</div>
										</div>	
									</div>
									<div class="col-sm-9 col-md-9 col-lg-9">
										<p style="font-size: 17pt"><b>Nombre: </b><%- dataEvaluacion.nombre %></p>
										<p style="font-size: 17pt"><b>Fecha de Inicio: </b><%- dataEvaluacion.fecha_i.getDate() %>/<%- dataEvaluacion.fecha_i.getMonth() + 1%>/<%- dataEvaluacion.fecha_i.getFullYear() %></p>
										<p style="font-size: 17pt"><b>Fecha de Fin: </b><%- dataEvaluacion.fecha_f.getDate() %>/<%- dataEvaluacion.fecha_f.getMonth() + 1%>/<%- dataEvaluacion.fecha_f.getFullYear() %></p>
									</div>
								</div>
							</div>
						</div>
						<br>
						<div class="card">
							<div class="card-body">
								<div class="article border-bottom">
									<h3>Tipo de Evaluaciones</h3>
								</div>
								<br>

								<div class="row">
									<!--Si el Usuario logueado tiene cargo jefeSubordinado-->
									<%if(Usuario.cargoId == 2) {%>
										<!--AutoEvaluacion-->
										<div class="col-sm-6 col-md-6 col-lg-6 text-center">
											<a href="javascript:void(0)" v-on:click="buscarAutoEvalJefe(<%- dataEvaluacion.categoriumId %>)" class="btn btn-outline-primary" style="width: 90%" v-bind:class="{ active: botonAutoE }">
												<span class="glyphicon glyphicon-log-in"></span><i class="fa fa-child" style="font-size: 30pt;"></i>
												<hr style="margin: 1px">
												<p><strong>AutoEvaluación</strong></p>
											</a>
										</div>

										<!--Evaluacion a Subordinados-->
										<div class="col-sm-6 col-md-6 col-lg-6 text-center">
											<a href="javascript:void(0)" v-on:click="buscarEvalaSubor(<%- dataEvaluacion.categoriumId %>)" class="btn btn-outline-dark" style="width: 90%" v-bind:class="{ active: botonEvalaSubor }">
												<span class="glyphicon glyphicon-log-in"></span><i class="fa fa-user-secret" style="font-size: 30pt;"></i>
												<hr style="margin: 1px">
												<p><strong>Eval al Subor</strong></p>
											</a>
										</div>
									
									<!--Si el Usuario logueado tiene cargo subordinado-->
									<%} else if(Usuario.cargoId == 3) {%>
										<% if(dataEvaluacion.categoriumId == 1) {%>
											<!--AutoEvaluacion-->
											<div class="col-sm-6 col-md-6 col-lg-4 text-center">
												<a href="javascript:void(0)" v-on:click="buscarAutoEval(<%- dataEvaluacion.categoriumId %>)" class="btn btn-outline-primary" style="width: 90%" v-bind:class="{ active: botonAutoE }">
													<span class="glyphicon glyphicon-log-in"></span><i class="fa fa-child" style="font-size: 30pt;"></i>
													<hr style="margin: 1px">
													<p><strong>AutoEvaluación</strong></p>
												</a>
											</div>

											<!--CoEvaluacion-->
											<div class="col-sm-6 col-md-6 col-lg-4 text-center">
												<a href="javascript:void(0)" v-on:click="buscarCoEval()" class="btn btn-outline-success" style="width: 90%" v-bind:class="{ active: botonCoE }">
													<span class="glyphicon glyphicon-log-in"></span><i class="fa fa-users" style="font-size: 30pt;"></i>
													<hr style="margin: 2px">
													<p><strong>CoEvaluación</strong></p>
												</a>
											</div>


											<!--Evaluacion al Jefe-->
											<div class="col-sm-6 col-md-6 col-lg-4 text-center">
												<a href="javascript:void(0)" v-on:click="buscarEvalaJefe(<%- Jefe.cedula %>, <%- dataEvaluacion.categoriumId %>)" class="btn btn-outline-secondary" style="width: 90%" v-bind:class="{ active: botonEvalaJefe }">
													<span class="glyphicon glyphicon-log-in"></span><i class="fa fa-users" style="font-size: 30pt;"></i>
													<hr style="margin: 2px">
													<p><strong>Evaluar al Jefe</strong></p>
												</a>
											</div>
										<%} else {%>
											<!--AutoEvaluacion-->
											<div class="col-sm-6 col-md-6 col-lg-6 text-center">
												<a href="javascript:void(0)" v-on:click="buscarAutoEval(<%- dataEvaluacion.categoriumId %>)" class="btn btn-outline-primary" style="width: 90%" v-bind:class="{ active: botonAutoE }">
													<span class="glyphicon glyphicon-log-in"></span><i class="fa fa-child" style="font-size: 30pt;"></i>
													<hr style="margin: 1px">
													<p><strong>AutoEvaluación</strong></p>
												</a>
											</div>

											<!--Evaluacion al Jefe-->
											<div class="col-sm-6 col-md-6 col-lg-6 text-center">
												<a href="javascript:void(0)" v-on:click="buscarEvalaJefe(<%- Jefe.cedula %>, <%- dataEvaluacion.categoriumId %>)" class="btn btn-outline-secondary" style="width: 90%" v-bind:class="{ active: botonEvalaJefe }">
													<span class="glyphicon glyphicon-log-in"></span><i class="fa fa-users" style="font-size: 30pt;"></i>
													<hr style="margin: 2px">
													<p><strong>Evaluar al Jefe</strong></p>
												</a>
											</div>
										<%}%>
									<%}%>
								</div>
								
							</div>
						</div>
						<br>

						<div class="card" v-if="activo">
							<!--==========AutoEvaluacion=========-->
							<div class="card-body" v-if="botonAutoE">
								<div v-if="autoEval" class="row">
									<div class="col-sm-3 col-md-3 text-center">
										<div class="card">
											<div class="card-body">
												<span class="glyphicon glyphicon-log-in"></span><i class="fa fa-pencil-square-o" style="font-size: 40pt;"></i>
											</div>
										</div>	
									</div>
										
									<div class="col-sm-9 col-md-9">
										<a v-bind:href="url" class="btn btn-primary btn-lg btn-block">Ejecutar</a>
										<hr style="margin: 7px">
										<p>algo</p>
									</div>
								</div>
							</div>
							
							<!--========CoEvaluaciones===========-->
							<div class="card-body" v-if="botonCoE">
								<div class="row">
									<div class="col-md-6" v-for="coEval in coEvals">
										<div class="card">
											<div class="card-body">
												<div class="row">
													<div class="col-sm-3 col-md-4 col-lg-3 text-center">
														<div class="card">
															<div class="card-body">
																<span class="glyphicon glyphicon-log-in"></span><i class="fa fa-pencil-square-o" style="font-size: 40pt;"></i>
															</div>
														</div>	
													</div>

													<div class="col-sm-9 col-md-8 col-lg-9">
														<a v-bind:href="'/dashboard/eval/'+idCoEval+'/u/'+ coEval.usuarioEvaluado" class="btn btn-success btn-lg btn-block">Ejecutar</a>
														<hr style="margin: 7px">
														<p>
															Evaluar A: 
															{{ coEval.usuario.nombre }}
															{{ coEval.usuario.apellido }}
														</p>
													</div>
												</div>
											</div>
										</div>
										<br>
									</div>
								</div>
							</div>

							<!--=======Evaluación a Jefe=========-->
							<div class="card-body" v-if="botonEvalaJefe">
								<div class="row" v-if="evalaJefe">
									<div class="col-sm-3 col-md-3 text-center">
										<div class="card">
											<div class="card-body">
												<span class="glyphicon glyphicon-log-in"></span><i class="fa fa-pencil-square-o" style="font-size: 40pt;"></i>
											</div>
										</div>	
									</div>
										
									<div class="col-sm-9 col-md-9">
										<a v-bind:href="url" class="btn btn-secondary btn-lg btn-block">Ejecutar</a>
										<hr style="margin: 7px">
										<p>Evaluar a: <%- Jefe.nombre %>  <%- Jefe.apellido %></p>
									</div>
								</div>
							</div>

							<!--=======Evaluación a Subordinados=======-->
							<div class="card-body" v-if="botonEvalaSubor">
								<div class="row">
									<div class="col-md-6" v-for="eval in evalsSubor">
										<div class="card">
											<div class="card-body">
												<div class="row">
													<div class="col-sm-3 col-md-4 col-lg-3 text-center">
														<div class="card">
															<div class="card-body">
																<span class="glyphicon glyphicon-log-in"></span><i class="fa fa-pencil-square-o" style="font-size: 40pt;"></i>
															</div>
														</div>	
													</div>
															
													<div class="col-sm-9 col-md-8 col-lg-9">
														<a v-bind:href="'/dashboard/eval/'+idEvalSubor+'/u/'+eval.usuarioEvaluado" class="btn btn-dark btn-lg btn-block">Ejecutar</a>
														<hr style="margin: 7px">
														<p>
															Evaluar A: 
															{{ eval.usuario.nombre }}
															{{ eval.usuario.apellido }}
														</p>
													</div>
												</div>
											</div>
										</div>
										<br>
									</div>
								</div>
							</div>
						</div>
						<br>
					</div>
				</div>
			</div>
		</div>
	</div>

	<footer class="footer" style="background: #BEBCB0;">
		<div class="container">
			<span class="text-muted">Pie de Pagina</span>
		</div>
	</footer>

	<script src="/js/jquery-3.3.1.min.js"></script>
	<script src="/js/popper.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/jquery.validate.min.js"></script>
	<script src="/js/main.js"></script>
	<script src="/js/misFunciones.js"></script>
	<script src="/js/vue.js"></script>
	<script src="/js/axios.js"></script>
	<script type="text/javascript">
		new Vue({
			el: '#main',
			data: {
				/*=======Botones=====*/
				botonAutoE: false,
				botonCoE: false,
				botonEvalaJefe: false,
				botonEvalaSubor: false,

				/*======Zona de Evaluaciones=====*/
				activo: false,

				/*======Variables=====*/
				autoEval: {},
				url: '',
				coEvals: [],
				idCoEval: '',
				evalsSubor: [],
				idEvalSubor: '',
				evalaJefe: {}
			},
			created() {
			
			},
			methods: {
				buscarAutoEval(categoria) {
					var currentUrl = window.location.pathname.split('/');
					var idEval = currentUrl[3];

					//si la categoria de la evaluacion es 1 (administrativo)
					if(categoria == 1) {
						idEval = idEval - 3;

						var cedula = document.getElementById("cedula").value;

						var link = '/dashboard/eval/'+idEval+'/u/'+cedula

						this.botonAutoE = true;
						this.botonCoE = false;
						this.botonEvalaJefe = false;
						this.botonEvalaSubor = false;
						this.activo = true;

						axios.get('/buscarAutoEval/'+idEval+'/empleado/'+cedula)
							.then(res => {
								this.autoEval = res.data;
								this.url = link;
								console.log(this.autoEval)
							}).catch(err => {
								console.log(err)
							});
					} 

					//si la categoria de la evaluacion es 2 (centro de Invest)
					else {
						idEval = idEval;

						var cedula = document.getElementById("cedula").value;

						var link = '/dashboard/eval/'+idEval+'/u/'+cedula

						this.botonAutoE = true;
						this.botonCoE = false;
						this.botonEvalaJefe = false;
						this.botonEvalaSubor = false;
						this.activo = true;

						axios.get('/buscarAutoEval/'+idEval+'/empleado/'+cedula)
							.then(res => {
								this.autoEval = res.data;
								this.url = link;
								console.log(this.autoEval)
							}).catch(err => {
								console.log(err)
							});
					}
				},
				buscarCoEval() {
					var currentUrl = window.location.pathname.split('/');
					var idEval = currentUrl[3];
					idEval = idEval - 2;
					var cedula = document.getElementById("cedula").value;
					
					this.botonCoE = true;
					this.botonAutoE = false;
					this.botonEvalaJefe = false;
					this.activo = true;
					this.idCoEval = idEval;

					axios.get('/buscarCoEvals/'+idEval+'/empleado/'+cedula)
						.then(res => {
							this.coEvals = res.data;
							console.log(this.coEvals);
						}).catch(err => {
							console.log(err);
						})
				},
				buscarEvalaJefe(cedula, categoria) {
					this.botonAutoE = false;
					this.botonCoE = false;
					this.botonEvalaJefe = true;
					this.activo = true;

					//Si la categoria de la evaluacion es 1 (administrativo)
					if(categoria == 1) {
						var currentUrl = window.location.pathname.split('/');
						var idEval = currentUrl[3] - 1;
						var evaluador = document.getElementById("cedula").value;
						var evaluado = document.getElementById('evaluado').value;

						this.url = '/dashboard/eval/'+idEval+'/u/'+evaluado;

						axios.get('/buscarEvalaJefe/'+idEval+'/jefe/'+cedula+'/empleado/'+evaluador)
							.then(res => {
								this.evalaJefe = res.data;
								console.log(this.evalaJefe)
							}).catch(err => {
								console.log('ashbjhasdv');
							})
					}

					//si la categoria de evaluacion es 2 (centro de Invest)
					else {
						var currentUrl = window.location.pathname.split('/');
						var idEval =  parseInt(currentUrl[3]) + 1;
						var evaluador = document.getElementById("cedula").value;
						var evaluado = document.getElementById('evaluado').value;

						this.url = '/dashboard/eval/'+idEval+'/u/'+evaluado;

						axios.get('/buscarEvalaJefe/'+idEval+'/jefe/'+cedula+'/empleado/'+evaluador)
							.then(res => {
								this.evalaJefe = res.data;
								console.log(this.evalaJefe)
							}).catch(err => {
								console.log('ashbjhasdv');
							})
					}
				},
				buscarEvalaSubor(categoria) {
					this.activo = true;
					this.botonAutoE = false;
					this.botonCoE = false;
					this.botonEvalaJefe = false;
					this.botonEvalaSubor = true;

					if(categoria == 1) {
						var currentUrl = window.location.pathname.split('/');
						var idEval = currentUrl[3];

						this.idEvalSubor = idEval;
						console.log(this.idEvalSubor);

						axios.get('/buscarEvalsaSubor/'+idEval)
							.then(res => {
								this.evalsSubor = res.data;
								console.log(this.evalsSubor);
							}).catch(err => {
								console.log(err);
							})
					} else {
						var currentUrl = window.location.pathname.split('/');
						var idEval = parseInt(currentUrl[3]) + 3;

						this.idEvalSubor = idEval;
						console.log(this.idEvalSubor);

						axios.get('/buscarEvalsaSubor/'+idEval)
							.then(res => {
								this.evalsSubor = res.data;
								console.log(this.evalsSubor);
							}).catch(err => {
								console.log(err);
							})
					}

					
				},
				buscarAutoEvalJefe(categoria) {
					if(categoria == 1) {
						var currentUrl = window.location.pathname.split('/');
						var idEval = currentUrl[3];

						idEval = parseInt(idEval) + 1;

						var cedula = document.getElementById("cedula").value;

						var link = '/dashboard/eval/'+idEval+'/u/'+cedula;
						//console.log(link);

						this.botonAutoE = true;
						this.botonCoE = false;
						this.botonEvalaJefe = false;
						this.botonEvalaSubor = false;
						this.activo = true;

						axios.get('/buscarAutoEval/'+idEval+'/empleado/'+cedula)
							.then(res => {
								this.autoEval = res.data;
								this.url = link;
								//console.log(this.autoEval)
							}).catch(err => {
								console.log(err)
							});
					} else {
						var currentUrl = window.location.pathname.split('/');
						var idEval = currentUrl[3];

						idEval = parseInt(idEval);

						var cedula = document.getElementById("cedula").value;

						var link = '/dashboard/eval/'+idEval+'/u/'+cedula;
						//console.log(link);

						this.botonAutoE = true;
						this.botonCoE = false;
						this.botonEvalaJefe = false;
						this.botonEvalaSubor = false;
						this.activo = true;

						axios.get('/buscarAutoEval/'+idEval+'/empleado/'+cedula)
							.then(res => {
								this.autoEval = res.data;
								this.url = link;
								//console.log(this.autoEval)
							}).catch(err => {
								console.log(err)
							});
					}
					
				}
			}
		});
	</script>
</body>
</html>