<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>CREDIUDO | Inicio</title>

	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<!--Barra de Progreso-->
	<script type="text/javascript" src="/js/pace.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/css/pace-theme-center-circle.css">
	
	<!-- Pie de Pagina -->
    <link href="/css/sticky-footer-navbar.css" rel="stylesheet">
</head>
<body>
	<div class="jumbotron" style="margin-bottom: 0px; padding: 0">
		<img src="/images/index/banner-sistema.jpg" alt="Responsive image" class="img-fluid">
	</div>	

	<%- include('../../partials/empleado/navbar.html') %>

	<div class="container-fluid" id="main">
		<div class="row justify-content-md-center">
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-12">
						<!--=======MIGAS DE PAN=========-->
						<nav aria-label="breadcrumb" style="margin-top: 1%">
							<ol class="breadcrumb">
							    <li class="breadcrumb-item active" aria-current="page">Home</li>
							</ol>
						</nav>
						<!--=======FIN MIGAS DE PAN=========-->				
					</div>
					
					<!--info izquierdo-->
					<div class="col-sm-12 col-md-12 col-lg-3">
						<div class="row">
							<!--Datos del Inicio de Sesion-->
							<div class="col-sm-6 col-md-6 col-lg-12">
								<div class="card">
								  	<div class="card-header">
								    	Datos Personales:
								  	</div>
								  
								  	<div class="card-body">
								    	<div class="form-group">
								    		<input type="hidden" id="cedula" value="<%- Usuario.cedula %>">
								    		<% if(Jefe) {%>
												<input type="hidden" id="evaluado" value="<%- Jefe.cedula %>">
								    		<%}%>
								    		
								    		<p><b>Nombre: </b><%= Usuario.nombre %></p>
								    		<p><b>Apellido: </b><%= Usuario.apellido %></p>
								    		<p><b>Nucleo: </b><%= Usuario.nucleo.nombre %></p>
								    		<p><b>Unidad: </b><%= Usuario.unidad.nombre %></p>
								    	</div>
								  	</div>
								</div>
								<br>
							</div>
							
							<!--Como Evaluar-->
							<div class="col-sm-6 col-md-6 col-lg-12">
								<div class="card">
								  	<div class="card-header">
								    	¿Sabes como Evaluar?
								  	</div>
								  
								  	<div class="card-body">
								    	<div class="form-group">
								    		<p><b>Nombre: </b><%= Usuario.nombre %></p>
								    		<p><b>Apellido: </b><%= Usuario.apellido %></p>
								    		<p><b>Nucleo: </b><%= Usuario.nucleo.nombre %></p>
								    		<p><b>Unidad: </b><%= Usuario.unidad.nombre %></p>
								    	</div>
								  	</div>
								</div>
							</div>
						</div>
						<br>
					</div>
					
					<!--Contenido-->
					<div class="col-sm-12 col-md-12 col-lg-9">
						
						<div class="card">
							<div class="card-body">
								<div class="article border-bottom">
									<h2>Datos de La Evaluación</h2>
								</div>
								<br>
								<div class="row">
									<div class="col-sm-3 col-md-3 col-lg-3 text-center">
										<div class="card">
											<div class="card-body">
												<img src="/images/title/favicon-96x96.png">
											</div>
										</div>	
									</div>
									<div class="col-sm-9 col-md-9 col-lg-9">
										<p style="font-size: 17pt"><b>Nombre: </b><%- dataEvaluacion.nombre %></p>
										<p style="font-size: 17pt"><b>Fecha de Inicio: </b><%- dataEvaluacion.fecha_i.getDate() %>/<%- dataEvaluacion.fecha_i.getMonth() + 1%>/<%- dataEvaluacion.fecha_i.getFullYear() %></p>
										<p style="font-size: 17pt"><b>Fecha de Fin: </b><%- dataEvaluacion.fecha_f.getDate() %>/<%- dataEvaluacion.fecha_f.getMonth() + 1%>/<%- dataEvaluacion.fecha_f.getFullYear() %></p>
									</div>
								</div>
							</div>
						</div>
						<br>
						<div class="card">
							<div class="card-body">
								<div class="article border-bottom">
									<h3>Tipo de Evaluaciones</h3>
								</div>
								<br>

								<div class="row">
									<%if(Usuario.cargoId == 2) {%>
										<!--AutoEvaluacion-->
										

										<!--Evaluacion a Subordinados-->
										
									<%} else if(Usuario.cargoId == 3) {%>
										<!--AutoEvaluacion-->
										<div class="col-sm-6 col-md-6 col-lg-4 text-center">
											<a href="javascript:void(0)" v-on:click="buscarAutoEval()" class="btn btn-outline-primary" style="width: 90%" v-bind:class="{ active: botonAutoE }">
												<span class="glyphicon glyphicon-log-in"></span><i class="fa fa-child" style="font-size: 30pt;"></i>
												<hr style="margin: 1px">
												<p><strong>AutoEvaluación</strong></p>
											</a>
										</div>

										<!--CoEvaluacion-->
										<div class="col-sm-6 col-md-6 col-lg-4 text-center">
											<a href="javascript:void(0)" v-on:click="buscarCoEval()" class="btn btn-outline-success" style="width: 90%" v-bind:class="{ active: botonCoE }">
												<span class="glyphicon glyphicon-log-in"></span><i class="fa fa-users" style="font-size: 30pt;"></i>
												<hr style="margin: 2px">
												<p><strong>CoEvaluación</strong></p>
											</a>
										</div>


										<!--Evaluacion al Jefe-->
										<div class="col-sm-6 col-md-6 col-lg-4 text-center">
											<a href="javascript:void(0)" v-on:click="buscarEvalaJefe()" class="btn btn-outline-secondary" style="width: 90%" v-bind:class="{ active: botonEvalaJefe }">
												<span class="glyphicon glyphicon-log-in"></span><i class="fa fa-users" style="font-size: 30pt;"></i>
												<hr style="margin: 2px">
												<p><strong>Evaluar al Jefe</strong></p>
											</a>
										</div>
									<%}%>
								</div>
								
							</div>
						</div>
						<br>

						<div class="card" v-if="activo">
							<!--==========AutoEvaluacion=========-->
							<div class="card-body" v-if="botonAutoE">
								<div class="row">
									<div class="col-sm-3 col-md-3 text-center">
										<div class="card">
											<div class="card-body">
												<span class="glyphicon glyphicon-log-in"></span><i class="fa fa-pencil-square-o" style="font-size: 40pt;"></i>
											</div>
										</div>	
									</div>
										
									<div class="col-sm-9 col-md-9">
										<a v-bind:href="url" class="btn btn-primary btn-lg btn-block">Ejecutar</a>
										<hr style="margin: 7px">
										<p>algo</p>
									</div>
								</div>
							</div>
							
							<!--========CoEvaluaciones===========-->
							<div class="card-body" v-if="botonCoE">
								<div class="row">
									<div class="col-md-6" v-for="coEval in coEvals">
										<div class="card">
											<div class="card-body">
												<div class="row">
													<div class="col-sm-3 col-md-4 col-lg-3 text-center">
														<div class="card">
															<div class="card-body">
																<span class="glyphicon glyphicon-log-in"></span><i class="fa fa-pencil-square-o" style="font-size: 40pt;"></i>
															</div>
														</div>	
													</div>

													<div class="col-sm-9 col-md-8 col-lg-9">
														<a v-bind:href="'/dashboard/eval/'+idCoEval+'/u/'+ coEval.usuarioEvaluado" class="btn btn-success btn-lg btn-block">Ejecutar</a>
														<hr style="margin: 7px">
														<p>
															Evaluar A: 
															{{ coEval.usuario.nombre }}
															{{ coEval.usuario.apellido }}
														</p>
													</div>
												</div>
											</div>
										</div>
										<br>
									</div>
								</div>
							</div>

							<!--=======Evaluación a Jefe=========-->
							<div class="card-body" v-if="botonEvalaJefe">
								<div class="row">
									<div class="col-sm-3 col-md-3 text-center">
										<div class="card">
											<div class="card-body">
												<span class="glyphicon glyphicon-log-in"></span><i class="fa fa-pencil-square-o" style="font-size: 40pt;"></i>
											</div>
										</div>	
									</div>
										
									<div class="col-sm-9 col-md-9">
										<a v-bind:href="url" class="btn btn-secondary btn-lg btn-block">Ejecutar</a>
										<hr style="margin: 7px">
										<p>Evaluar a: <%- Jefe.nombre %>  <%- Jefe.apellido %></p>
									</div>
								</div>
							</div>
						</div>
						<br>
					</div>
				</div>
			</div>
		</div>
	</div>

	<footer class="footer" style="background: #BEBCB0;">
		<div class="container">
			<span class="text-muted">Pie de Pagina</span>
		</div>
	</footer>

	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/jquery.validate.min.js"></script>
	<script src="/js/main.js"></script>
	<script src="/js/misFunciones.js"></script>

	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
	<script type="text/javascript">
		new Vue({
			el: '#main',
			data: {
				/*=======Botones=====*/
				botonAutoE: false,
				botonCoE: false,
				botonEvalaJefe: false,

				/*======Zona de Evaluaciones=====*/
				activo: false,

				/*======Variables=====*/
				autoEval: {},
				url: '',
				coEvals: [],
				idCoEval: ''
			},
			created() {
			
			},
			methods: {
				buscarAutoEval() {
					var currentUrl = window.location.pathname.split('/');
					var idEval = currentUrl[3];

					idEval = idEval - 3;

					var cedula = document.getElementById("cedula").value;

					var link = '/dashboard/eval/'+idEval+'/u/'+cedula

					this.botonAutoE = true;
					this.botonCoE = false;
					this.botonEvalaJefe = false;
					this.activo = true;

					axios.get('/buscarAutoEval/' + idEval + '/empleado/' + cedula)
						.then(res => {
							this.autoEval = res.data;
							this.url = link;
							console.log(this.autoEval)
						}).catch(err => {
							console.log(err)
						});
				},
				buscarCoEval() {
					var currentUrl = window.location.pathname.split('/');
					var idEval = currentUrl[3];
					idEval = idEval - 2;
					var cedula = document.getElementById("cedula").value;
					
					this.botonCoE = true;
					this.botonAutoE = false;
					this.botonEvalaJefe = false;
					this.activo = true;
					this.idCoEval = idEval;

					axios.get('/buscarCoEvals/'+idEval+'/empleado/'+cedula)
						.then(res => {
							this.coEvals = res.data;
							console.log(this.coEvals);
						}).catch(err => {
							console.log(err);
						})
				},
				buscarEvalaJefe() {
					this.botonAutoE = false;
					this.botonCoE = false;
					this.botonEvalaJefe = true;
					this.activo = true;

					var currentUrl = window.location.pathname.split('/');
					var idEval = currentUrl[3] - 1;
					var evaluado = document.getElementById('evaluado').value;

					this.url = '/dashboard/eval/'+idEval+'/u/'+evaluado;

					console.log(this.url);
				}
			}
		});
	</script>
</body>
</html>