<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>CREDIUDO | Dashboard</title>

	<style type="text/css">
		table, th, td {
		    border: 1px solid black;
		}
	</style>

	<!--estilo a mensaje de error-->
        <style type="text/css">
          label.error{
            color: red;
          }
        </style>

</head>
<body>
	<h2>CREDIUDO | Evaluación</h2>
	<h4>Bienvendio <%= Usuario.nombre %></h4>
	<a href="/logout">Cerrar Sesion</a>
	<hr>
	
	<br>
	<h3><%=Evaluacion.instrument.titulo%></h3>
	<br>
	
	<h3>Datos de la Depencia:</h3>
	<h4>Nucleo: <%=Evaluacion.nucleo.nombre%></h4>
	<h4>Nucleo: <%=Evaluacion.unidad.nombre%></h4>
	<h4>Nombre del Supervisor Inmediato: <%=Usuario.nombre%> <%=Usuario.apellido%></h4>

	<br>
	<h3>Datos del Trabajador</h3>
	<h4>Nombre y Apellido: <%= evaluacionUsuario.usuarioEvaluado %></h4>
	<h4>Cedula de Identidad: <%= evaluacionUsuario.usuarioEvaluado %></h4>
	<h4>Profesión: </h4>
	<h4>Cargo Actual: </h4>
	<!--INFORMACION DE LA PERSONA A SER EVALUADA-->
	
	<!---->

	<form method="post" action="/dashboard/evaluacion/<%=Evaluacion.id%>/u/<%=Usuario.cedula%>/ue/<%= evaluacionUsuario.usuarioEvaluado %>" id="formEvaluacion">
		<input type="hidden" name="factores" value=<%=instrumentFactor.length%>>
		<input type="hidden" name="items" value="<%=Items.length%>">
		<input type="hidden" name="instrumentId" value="<%=Evaluacion.instrumentId%>">
		<input type="hidden" name="usuarioEvaluado" value="<%= evaluacionUsuario.usuarioEvaluado %>">

		<table style="width:80%">
			<% var k=0 %>
			<% var n=0 %>
			<% var k=-1 %>
			<% var item = [] %>

			<%for(let i = 0; i < instrumentFactor.length; i++){%>
				<tr>
			    	<td width="5%"></td>
			    	<td><%=instrumentFactor[i].factor.nombre%></td> 
			    	<td colspan="5"></td>
			  	</tr>

			  	<% for(let j = 0; j < Items.length; j++) {%>
					<%if(Items[j].factorId == instrumentFactor[i].factorId){%>
						<tr>
					    	<td width="5%"><%= k=k+1 %></td>
					    	<td><%=Items[j].nombre%></td> 
					    	<td>
					    		<input type="radio" name="item[<%= k %>]" value=2 id="item" required>
					    	</td>
					    	<td>
					    		<input type="radio" name="item[<%= k %>]" value=4 id="item" required>
					    	</td>
					    	<td>
					    		<input type="radio" name="item[<%= k %>]" value=6 id="item" required>
					    	</td>
					    	<td>
					    		<input type="radio" name="item[<%= k %>]" value=8 id="item" required>
					    	</td>
					    	<td>
					    		<input type="radio" name="item[<%= k %>]" value=10 id="item" required>
					    	</td>
					  	</tr>					
					<%}%>
			  	<%}%>	
			<%}%>
		</table>

		<br>
		<input type="submit" name="enviar" value="Enviar">
	</form>
	

	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="/js/jquery.validate.min.js"></script>
	<script src="/js/main.js"></script>
</body>
</html>