<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>CREDIUDO | Dashboard</title>

	<style type="text/css">
		table, th, td {
		    border: 1px solid black;
		}
	</style>
</head>
<body>
	<h2>CREDIUDO | Evaluación</h2>
	<h4>Bienvendio <%= Usuario.nombre %></h4>
	<a href="/logout">Cerrar Sesion</a>

	<br><br>
	
	<h3><%=Evaluacion.nombre%></h3>
	<br>
	<h4>Nombre o Titulo del Instrumento de Eval: <%=Evaluacion.instrument.titulo%></h4>

	<form method="post" action="/dashboard/evaluacion/<%=Evaluacion.id%>/u/<%=Usuario.cedula%>" id="formEvaluacion">
		<input type="hidden" name="factores" value="<%=instrumentFactor.length%>">
		<input type="hidden" name="items" value="<%=Items.length%>">
		<input type="hidden" name="instrumentId" value="<%=Evaluacion.instrumentId%>">

		<table style="width:80%">
			<% var k=0 %>
			<% var n=0 %>

			<%for(let i = 0; i < instrumentFactor.length; i++){%>
				<tr>
			    	<td width="5%"></td>
			    	<td><%=instrumentFactor[i].factor.nombre%></td> 
			    	<td colspan="5"></td>
			  	</tr>

			  	<% for(let j = 0; j < Items.length; j++) {%>
					<%if(Items[j].factorId == instrumentFactor[i].factorId){%>
						<tr>
					    	<td width="5%"><%= k=k+1 %></td>
					    	<td><%=Items[j].nombre%></td> 
					    	<td>
					    		<input type="radio" name="item_<%= n=n+1 %>" value="2">
					    	</td>
					    	<td>
					    		<input type="radio" name="item_<%= n=n+1 %>" value="4">
					    	</td>
					    	<td>
					    		<input type="radio" name="item_<%= n=n+1 %>" value="6">
					    	</td>
					    	<td>
					    		<input type="radio" name="item_<%= n=n+1 %>" value="8">
					    	</td>
					    	<td>
					    		<input type="radio" name="item_<%= n=n+1 %>" value="10">
					    	</td>
					  	</tr>					
					<%}%>
			  	<%}%>	
			<%}%>
		</table>

		<br>
		<input type="submit" name="enviar" value="Enviar">
	</form>

</body>
</html>