<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>CREDIUDO | Dashboard</title>

	<style type="text/css">
		table, th, td {
		    border: 1px solid black;
		}
	</style>
</head>
<body>
	<h2>CREDIUDO | Evaluación</h2>
	<h4>Bienvendio <%= Usuario.nombre %></h4>
	<a href="/logout">Cerrar Sesion</a>

	<br><br>
	
	<h3><%=Evaluacion.nombre%></h3>
	<br>
	<h4>Nombre o Titulo del Instrumento de Eval: <%=Evaluacion.instrument.titulo%></h4>

	<table style="width:80%">
		<% var k=0 %>
		<%for(let i=0; i < instrumentFactor.length; i++){%>
			<tr>
		    	<td width="5%"></td>
		    	<td><%=instrumentFactor[i].factor.nombre%></td> 
		    	<td width="25%"></td>
		  	</tr>

		  	<% for(let j=0; j < Items.length; j++) {%>
				<%if(Items[j].factorId == instrumentFactor[i].factorId){%>
					<tr>
				    	<td width="5%"><%= k=k+1 %></td>
				    	<td><%=Items[j].nombre%></td> 
				    	<td width="25%"></td>
				  	</tr>					
				<%}%>
		  	<%}%>	
		<%}%>
	  	<!--
	  	<tr>
	    	<td>Jill</td>
	    	<td>Smith</td> 
	    	<td>50</td>
	  	</tr>
	  	<tr>
	    	<td>Eve</td>
	    	<td>Jackson</td> 
	    	<td>94</td>
	  	</tr>
	  -->
	</table>
	
</body>
</html>