<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>CREDIUDO | Coord. Evaluación</title>

	<style>
		table, th, td {
    		border: 1px solid black;
    		border-collapse: collapse;
		}
	</style>
</head>
<body>
	<h3><%= Instruments.titulo %></h3>
	<br>

	<form method="post" action="/coord_ev/instrument/<%= Instruments.id %>/add-item" id="formItem">
		<label for="item">Item</label>
		<input type="text" name="nombre" id="nombre" placeholder="Ingrese un Item o Pregunta">

		<label for="factor">Factor</label>
		<select name="factor" id="factor">
			<option value=""> --Seleccione una Opción-- </option>
			<% for(let i = 0; i < Factores.length; i ++) {%>
				<option value="<%= Factores[i].id %>"><%= Factores[i].nombre %></option>
			<%}%>
		</select>

		<input type="submit" name="add" value="ADD">	
	</form>
	
	<br>
	<table style="width:80%">
		<tr>
	    	<th>#</th>
	    	<th style="width: 50%">Item</th> 
	    	<th>Factor</th>
	    	<th>Acción</th>
	  	</tr>
	  	
	  	
		
		<%for(let j = 0; j < Items.length; j ++) {%>
			<tr>
		    	<td><%= j+1 %></td>
		    	<td><%= Items[j].nombre %></td>
		    	<td><%= Items[j].factor.nombre %></td>
		    	<td><a href="#">Edit</a></td>
		  	</tr>
		<%}%>
	</table>
</body>
</html>