<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>CREDIUDO | Presidente</title>

		<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

		<style type="text/css">
			table, th, td {
			    border: 1px solid black;
			}
		</style>
	</head>
	<body>
		<div class="container">
			<div class="jumbotron" style="margin-bottom: 0px; padding: 0">
				<img src="/images/index/banner-sistema.jpg" alt="Responsive image" class="img-fluid">
			</div>	

			<%- include('../../..//partials/president/navbar.html') %>

			<!--=======MIGAS DE PAN=========-->
			<nav aria-label="breadcrumb" style="margin-top: 1%">
				<ol class="breadcrumb">
				    <li class="breadcrumb-item active" aria-current="page">Home</li>
				    <li class="breadcrumb-item active" aria-current="page">Auto-Evaluación</li>
				</ol>
			</nav>
			<!--=======FIN MIGAS DE PAN=========-->

			<div class="row">
				<div class="col-md-3">
					<div class="card">
					  	<div class="card-header">
					    	Datos Personales:
					  	</div>
					  
					  	<div class="card-body">
					    	<div class="form-group">
					    		<p><b>Nombre: </b></p>
					    		<p><b>Apellido: </b></p>
					    		<p><b>Nucleo: </b></p>
					    		<p><b>Unidad: </b></p>
					    	</div>
					  	</div>
					</div>

					<br>
				</div>

				<div class="col-md-9">
					<% for(let i = 0; i < Evaluacion.length; i ++) {%>
						<% if(Evaluacion[i].instrument.tipoEvalId == 1) {%>
							<h3><%= Evaluacion[i].nucleo.nombre %> - <%= Evaluacion[i].unidad.nombre %></h3>

							
						<%} else {%>
							<h2>No Hay Auto-Evaluaciones Programadas</h2>
						<%}%>
					<%}%>
				</div>
			</div>
			
			<br><br>

			<footer class="footer" style="background: #BEBCB0">
				<div class="container">
					<span class="text-muted">Pie de Pagina</span>
				</div>
			</footer>
		</div>

		<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="/js/jquery.validate.min.js"></script>
		<script src="/js/main.js"></script>
	</body>
</html>