<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>CREDIUDO | Presidente</title>

	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script type="text/javascript" src="/js/pace.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/css/pace-theme-center-circle.css">
	<!-- Custom styles for this template -->
    <link href="/css/sticky-footer-navbar.css" rel="stylesheet">
</head>
<body>
	<div class="jumbotron" style="margin-bottom: 0px; padding: 0">
		<img src="/images/index/banner-sistema.jpg" alt="Responsive image" class="img-fluid">
	</div>	

	<%- include('../../partials/president/navbar.html') %>

	<div class="container-fluid" id="main">
		<div class="row justify-content-md-center">
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-12">
						<!--=======MIGAS DE PAN=========-->
						<nav aria-label="breadcrumb" style="margin-top: 1%">
							<ol class="breadcrumb">
							    <li class="breadcrumb-item active" aria-current="page">Home</li>
							</ol>
						</nav>
						<!--=======FIN MIGAS DE PAN=========-->		
					</div>
				</div>

				<div class="row">
					<div class="col-sm-12 col-md-12 col-lg-3">
						<div class="row">
							<div class="col-sm-12 col-md-12 col-lg-12">
								<div class="card">
								  	<div class="card-header">
								    	Datos Personales:
								  	</div>
								  
								  	<div class="card-body">
								    	<div class="form-group">
								    		<p><b>Nombre: </b></p>
								    		<p><b>Apellido: </b></p>
								    		<p><b>Nucleo: </b></p>
								    		<p><b>Unidad: </b></p>
								    	</div>
								  	</div>
								</div>
								<br>		
							</div>
						</div>
						<br>
					</div>

					<div class="col-lg-9">
						<div class="row">
							<div class="col-sm-12 col-md-12 col-lg-12">
								<div class="card">
									<div class="card-body">
										
											<div class="input-group mb-3">
												<input type="text" class="form-control" placeholder="Ingrese la Cedula del Remplazo" v-model="cedula" v-on:keyup.enter="getUsuario(cedula)">
											  	<div class="input-group-append">
											    	<button class="btn btn-outline-secondary" type="submit" id="button-addon2">Button</button>
											  	</div>
											</div>
										
									</div>
								</div>
								<br>
							</div>

							<div class="col-sm-12 col-md-12 col-lg-5">
								<div class="card">
									<div class="card-body">
										<div class="article border-bottom">
											<h3>Coord. de Planificación</h3>
										</div>
										<div class="row" style="margin-top: 10px">
											<div class="col-sm-4 col-md-5 col-lg-4 text-center">
												<img src="/images/img/user.png" alt="" class="img-thumbnail">
											</div>
											<div class="col-sm-8 col-md-7 col-lg-8">
												<p style="margin-bottom: 3px; font-size: 15pt;"><b>Nombre: </b>{{ coord.nombre }}</p>
												<p style="margin-bottom: 3px; font-size: 15pt;"><b>Apellido: </b>{{ coord.apellido }}</p>
												<p style="margin-bottom: 3px; font-size: 15pt;"><b>C.I: </b>{{ coord.cedula }}</p>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="col-sm-12 col-md-12 col-lg-2 text-center">
								<p style="font-size: 50pt"><span class="glyphicon glyphicon-log-in" ></span><i class="fa fa-exchange"></i></p>
							</div>

							<div class="col-sm-12 col-md-12 col-lg-5">
								<div class="card">
									<div class="card-body">
										<div class="article border-bottom">
											<h3>Reemplazo</h3>
										</div>
										<div class="row" style="margin-top: 10px">
											<div class="col-sm-4 col-md-5 col-lg-4 text-center">
												<img src="/images/img/user.png" alt="" class="img-thumbnail">
											</div>
											<div class="col-sm-8 col-md-7 col-lg-8">
												<p style="margin-bottom: 3px; font-size: 15pt;"><b>Nombre: </b>{{ usuario.nombre }}</p>
												<p style="margin-bottom: 3px; font-size: 15pt;"><b>Apellido: </b>{{ usuario.apellido }}</p>
												<p style="margin-bottom: 3px; font-size: 15pt;"><b>C.I: </b>{{ usuario.cedula }}</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>		
			</div>
		</div>
	</div>

	<footer class="footer" style="background: #BEBCB0;">
		<div class="container">
			<span class="text-muted">Pie de Pagina</span>
		</div>
	</footer>

	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="/js/jquery.validate.min.js"></script>
	<script src="/js/main.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
	<script type="text/javascript">
		new Vue({
			el: '#main',
			data: {
				cedula: '',
				usuario: {},
				coord: {}
			}, 
			created() {
				this.getCoordP()
			},
			methods: {
				getCoordP() {
					axios.get('/getCoordP')
						.then(res => {
							this.coord = res.data
						}).catch(err => {
							console.log(err)
						})
				},
				getUsuario(cedula) {
					if(this.coord.cedula == cedula) {
						alert("La Cedula Ingresada No puede ser Igual al del Coordinador de Planificacion Actual")
					} else{
						axios.get('/getUsuario/' + cedula)
							.then(res => {
								this.usuario = res.data;
								this.cedula = ''
							}).catch(err => {
								console.log(err)
							})	
					}
				}
			}
		})
	</script>
</body>
</html>