<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>CREDIUDO | Presidente</title>

	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script type="text/javascript" src="/js/pace.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/css/pace-theme-center-circle.css">
	<!-- Custom styles for this template -->
    <link href="css/sticky-footer-navbar.css" rel="stylesheet">
</head>
<body>
	<div class="jumbotron" style="margin-bottom: 0px; padding: 0">
		<img src="images/index/banner-sistema.jpg" alt="Responsive image" class="img-fluid">
	</div>	

	<%- include('../partials/president/navbar.html') %>

	<div class="container-fluid">
		<div class="row justify-content-md-center">
			<div class="col-md-10">
				<div class="row">
					<div class="col-md-12">
						<!--=======MIGAS DE PAN=========-->
						<nav aria-label="breadcrumb" style="margin-top: 1%">
							<ol class="breadcrumb">
							    <li class="breadcrumb-item active" aria-current="page">Home</li>
							</ol>
						</nav>
						<!--=======FIN MIGAS DE PAN=========-->		
					</div>
				</div>

				<div class="row">
					<div class="col-sm-12 col-md-12 col-lg-3">
						<div class="row">
							<div class="col-sm-12 col-md-12 col-lg-12">
								<div class="card">
								  	<div class="card-header">
								    	Datos Personales:
								  	</div>
								  
								  	<div class="card-body">
								    	<div class="form-group">
								    		<p><b>Nombre: </b><%= usuario.nombre %></p>
								    		<p><b>Apellido: </b><%= usuario.apellido %></p>
								    		<p><b>Nucleo: </b><%= usuario.nucleoCodigo %></p>
								    		<p><b>Unidad: </b><%= usuario.unidadCodigo %></p>
								    	</div>
								  	</div>
								</div>
								<br>		
							</div>
						</div>
						<br>
					</div>

					<div class="col-md-12 col-lg-9">
						<!--=======mensaje de alerta==========-->
						<% if(message == false) {%>

						<%} else {%>
								<div class="alert alert-success alert-dismissible fade show" role="alert">
						            <%= message %>
						            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
						        </div>
						<%}%>
						<!--=======fin mensaje de alerta==========-->

						<!--========Contenido========-->
						<div class="row">
							<div class="col-md-12">
								<div class="jumbotron jumbotron-fluid">
									<div class="container">
								    	<h1 class="display-5">Bienvenido(a) <%= presidente.nombre %></h1>
								    	<p class="lead">Presidente(a) de CREDIUDO</p>
								  	</div>
								</div>
							</div>

							<div class="col-md-12">
								<!--==============EVALUACIONES EN CURSO=================-->
								<div class="card">
									<div class="card-body">
										<h3>Evaluaciones En Curso</h3>
										<hr>
										<% if(evaluacion && evaluacion.length > 0) {%>
											<table class="table">
												<thead>
												    <tr>
												      	<th scope="col">Nombre de Eval</th>
												      	<th scope="col">Nucleo</th>
												      	<th scope="col">Unidad</th>
												      	<th scope="col">Fecha I</th>
												      	<th scope="col">Fecha F</th>
												      	<!--<th scope="col">Calificar</th>-->
												      	<th scope="col">Acción</th>
												    </tr>
											  	</thead>
											  	<tbody>
													<% for(var i = 0; i < evaluacion.length; i ++) {%>
												    	<% if(fecha_actual => evaluacion[i].fecha_i && fecha_actual <= evaluacion[i].fecha_f ) {%>
													    	<tr>
													      		<td><%= evaluacion[i].nombre %></td>
													      		<td><%= evaluacion[i].nucleo.nombre %></td>
													      		<td><%= evaluacion[i].unidad.nombre %></td>
													      		<td><%= evaluacion[i].fecha_i.getDate() %>/<%= evaluacion[i].fecha_i.getMonth() + 1 %>/<%= evaluacion[i].fecha_i.getFullYear() %></td>
													      		<td><%= evaluacion[i].fecha_f.getDate() %>/<%= evaluacion[i].fecha_f.getMonth() + 1 %>/<%= evaluacion[i].fecha_f.getFullYear() %></td>
													      		<td><a href="/president/detalles/<%= evaluacion[i].id %>" class="btn btn-primary btn-sm">Ver</a></td>
													    	</tr>
														<%}%>
													<%}%>
											  	</tbody>
											</table>
										<%} else {%>
											<h3 class="display-4 text-center">Ninguna</h3>
										<%}%>				
									</div>
								</div>	
								<!--=========FIN EVALUACIONES EN CURSO=============-->
								<br>
							</div>

							<!--===============PROXIMAS EVALUACIONES===========-->
							<div class="col-md-12">
								<!--==============EVALUACIONES EN CURSO=================-->
								<div class="card">
									<div class="card-body">
										<h3>Proximas Evaluaciones</h3>
										<hr>
										<% if(proxiEval && proxiEval.length > 0) {%>
											<table class="table">
												<thead>
												    <tr>
												      	<th scope="col">Nombre de Eval</th>
												      	<th scope="col">Nucleo</th>
												      	<th scope="col">Unidad</th>
												      	<th scope="col">Fecha I</th>
												      	<th scope="col">Fecha F</th>
												      	<!--<th scope="col">Calificar</th>-->
												      	<th scope="col">Acción</th>
												    </tr>
											  	</thead>
											  	<tbody>
													<% for(var i = 0; i < proxiEval.length; i ++) {%>
	
													    	<tr>
													      		<td><%= proxiEval[i].nombre %></td>
													      		<td><%= proxiEval[i].nucleo.nombre %></td>
													      		<td><%= proxiEval[i].unidad.nombre %></td>
													      		<td><%= proxiEval[i].fecha_i.getDate() %>/<%= proxiEval[i].fecha_i.getMonth() + 1 %>/<%= proxiEval[i].fecha_i.getFullYear() %></td>
													      		<td><%= proxiEval[i].fecha_f.getDate() %>/<%= proxiEval[i].fecha_f.getMonth() + 1 %>/<%= proxiEval[i].fecha_f.getFullYear() %></td>
													      		<td><a href="/president/detalles/<%= proxiEval[i].id %>" class="btn btn-primary btn-sm">Ver</a></td>
													    	</tr>
														
													<%}%>
											  	</tbody>
											</table>
										<%} else {%>
											<h3 class="display-4 text-center">Ninguna</h3>
										<%}%>				
									</div>
								</div>	
								<!--=========FIN EVALUACIONES EN CURSO=============-->
								<br>
							</div>
							<!--===============FIN PROXIMAS EVALUACIONES======-->
								
							<div class="col-md-12">
								<div class="row">
									<div class="col-sm-12 col-md-12 col-lg-6">
										<!--=============EVALUACIONES CULMINADAS==================-->
											<div class="card">
												<div class="card-body">
													<h3>Evaluaciones Culminadas</h3>
													<hr>
													<% if(evalCulminada && evalCulminada.length > 0) {%>
														<table class="table">
															<thead>
																<tr>
																	<th scope="col">Nombre de Eval</th>
																	<th scope="col">Nucleo</th>
																	<th scope="col">Unidad</th>
															      	
															      	<th scope="col">Acción</th>
																</tr>
															</thead>
															<tbody>
																<% for(var i = 0; i < evalCulminada.length; i ++) {%>
																	<tr>
																		<td><%= evalCulminada[i].nombre %></td>
																		<td><%= evalCulminada[i].nucleo.nombre %></td>
																		<td><%= evalCulminada[i].unidad.nombre %></td>
																		<td><a href="/president/detalles/<%= evalCulminada[i].id %>" class="btn btn-primary btn-sm">Ver</a></td>
																	</tr>
																<%}%>
															</tbody>
														</table>
													<%} else{%>
														<h3 class="display-4 text-center">Ninguna</h3>
													<%}%>	
												</div>	
											</div>
											<br>
									</div>

									<div class="col-sm-12 col-md-12 col-lg-6">
										<div class="card">
											<div class="card-body">
												<h3>Personal CREDIUDO</h3>
												<hr>
												<div class="article border-bottom">
													<div class="col-md-12">
														<div class="row">
															<div class="col-sm-4 col-md-4 text-center">
																<img alt class="rounded-circle" src="../../uploads/perfil/user.jpg" style="width: 40%">
										  						<p style="font-size: 10pt; margin-bottom: 0">Presidente</p>
															</div>
															<div class="col-sm-8 col-md-8">
																<p style="margin: 2px" class="text-muted"><em><%- president.nombre %> <%- president.apellido %></em></p>
										  						<p style="margin: 2px" class="text-muted"><em>C.I: <%- president.cedula %></em></p>
															</div>
														</div>
													</div>
												</div>

												<div class="article border-bottom">
													<div class="col-md-12">
														<div class="row">
															<div class="col-sm-4 col-md-4 text-center">
																<img alt class="rounded-circle" src="../../uploads/perfil/user.jpg" style="width: 40%">
										  						<p style="font-size: 10pt; margin-bottom: 0">Coord. Planificación</p>
															</div>
															<div class="col-sm-6 col-md-6">
																<p style="margin: 2px" class="text-muted"><em><%- coordPlani.nombre %> <%- coordPlani.apellido %></em></p>
										  						<p style="margin: 2px" class="text-muted"><em>C.I: <%- coordPlani.cedula %></em></p>
															</div>
															<div class="col-sm-2 col-md-2">
																<a href="/president/cambiar_coordP/<%- coordPlani.cedula %>" class="btn btn-light btn-sm edit-eval">
															        <span class="glyphicon glyphicon-log-in"></span><i class="fa fa-exchange"></i>
															    </a>
															</div>
														</div>
													</div>
												</div>

												<div class="article border-bottom">
													<div class="col-md-12">
														<div class="row">
															<div class="col-sm-4 col-md-4 text-center">
																<img alt class="rounded-circle" src="../../uploads/perfil/user.jpg" style="width: 40%">
										  						<p style="font-size: 10pt; margin-bottom: 0">Coord. Evaluación</p>
															</div>
															<div class="col-sm-6 col-md-6">
																<p style="margin: 2px" class="text-muted"><em><%- coordEval.nombre %> <%- coordEval.apellido %></em></p>
										  						<p style="margin: 2px" class="text-muted"><em>C.I: <%- coordEval.cedula %></em></p>
															</div>
															<div class="col-sm-2 col-md-2">
																<a href="/president/cambiar_coordEval/<%- coordEval.cedula %>" class="btn btn-light btn-sm edit-eval">
															        <span class="glyphicon glyphicon-log-in"></span><i class="fa fa-exchange"></i>
															    </a>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<br>
									</div>
								</div>
							</div>
						</div>
						<!--=======fin Contenido=====-->
					</div>
				</div>		
			</div>
		</div>
	</div>

	<footer class="footer" style="background: #BEBCB0;">
		<div class="container">
			<span class="text-muted">Pie de Pagina</span>
		</div>
	</footer>

	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="/js/jquery.validate.min.js"></script>
	<script src="/js/main.js"></script>

</body>
</html>