<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>CREDIUDO | Presidente</title>

	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script type="text/javascript" src="/js/pace.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/css/pace-theme-center-circle.css">
	<!-- Custom styles for this template -->
    <link href="css/sticky-footer-navbar.css" rel="stylesheet">
</head>
<body>
	<div class="jumbotron" style="margin-bottom: 0px; padding: 0">
		<img src="images/index/banner-sistema.jpg" alt="Responsive image" class="img-fluid">
	</div>	

	<%- include('../partials/president/navbar.html') %>

	<div class="container-fluid">
		<div class="row justify-content-md-center">
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-12">
						<!--=======MIGAS DE PAN=========-->
						<nav aria-label="breadcrumb" style="margin-top: 1%">
							<ol class="breadcrumb">
							    <li class="breadcrumb-item active" aria-current="page">Home</li>
							</ol>
						</nav>
						<!--=======FIN MIGAS DE PAN=========-->		
					</div>
				</div>

				<div class="row">
					<div class="col-sm-12 col-md-12 col-lg-3">
						<div class="row">
							<div class="col-sm-12 col-md-12 col-lg-12">
								<div class="card">
								  	<div class="card-header">
								    	Datos Personales:
								  	</div>
								  
								  	<div class="card-body">
								    	<div class="form-group">
								    		<p><b>Nombre: </b><%= presidente.nombre %></p>
								    		<p><b>Apellido: </b><%= presidente.apellido %></p>
								    		<p><b>Nucleo: </b><%= presidente.nucleo.nombre %></p>
								    		<p><b>Unidad: </b><%= presidente.unidad.nombre %></p>
								    	</div>
								  	</div>
								</div>
								<br>		
							</div>
						</div>
						<br>
					</div>

					<div class="col-md-12 col-lg-9">
						<!--=======mensaje de alerta==========-->
						<% if(message == false) {%>

						<%} else {%>
								<div class="alert alert-success alert-dismissible fade show" role="alert">
						            <%= message %>
						            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
						        </div>
						<%}%>
						<!--=======fin mensaje de alerta==========-->

						<!--========Contenido========-->
						<div class="row">
							<div class="col-md-12">
								<div class="jumbotron jumbotron-fluid">
									<div class="container">
								    	<h1 class="display-5">Bienvenido(a) <%= presidente.nombre %></h1>
								    	<p class="lead">Presidente(a) de CREDIUDO</p>
								  	</div>
								</div>
							</div>

							<div class="col-md-12">
								<div class="row">
									<div class="col-md-4">
										<div class="card border-primary">
											<div class="card-body text-white bg-primary">
												<div class="row">
													<div class="col-md-3">
											    		<i class="fa fa-rocket fa-5x"></i>
											    	</div>
											    	<div class="col-md-9 text-right">
											    		<div><h2><%- allEval.length %></h2></div>
                                    					<div><p style="font-size: 15pt">Evaluaciones Planificadas</p></div>
											    	</div>	
												</div>
										    	
										  	</div>
										  	<a href="/president/evalPlani">
												<div class="card-footer text-muted">
		    										2 days ago
		  										</div>
	  										</a>
										</div>
										<br>
									</div>

									<div class="col-md-4">
										<div class="card border-success">
											<div class="card-body text-white bg-success">
												<div class="row">
													<div class="col-md-3">
											    		<i class="fa fa-clock-o fa-5x"></i>
											    	</div>
											    	<div class="col-md-9 text-right">
											    		<div><h2><%- evaluacion.length %></h2></div>
                                    					<div><p style="font-size: 15pt">Evaluaciones en Proceso</p></div>
											    	</div>	
												</div>
										    	
										  	</div>
										  	<a href="/president/evalProceso">
												<div class="card-footer text-muted">
		    										2 days ago
		  										</div>
	  										</a>
										</div>
										<br>
									</div>

									<div class="col-md-4">
										<div class="card border-danger">
											<div class="card-body text-white bg-danger">
												<div class="row">
													<div class="col-md-3">
											    		<i class="fa fa-thumbs-up fa-5x"></i>
											    	</div>
											    	<div class="col-md-9 text-right">
											    		<div><h2><%- evalCulminada.length %></h2></div>
                                    					<div><p style="font-size: 15pt">Evaluaciones Culminadas</p></div>
											    	</div>	
												</div>
										    	
										  	</div>
										  	<a href="/president/evalCulmi">
												<div class="card-footer text-muted">
		    										2 days ago
		  										</div>
	  										</a>
										</div>
										<br>
									</div>
								</div>
							</div>
								
							<div class="col-md-12">
								<div class="row">
									<div class="col-sm-12 col-md-12 col-lg-6">
										<div class="card">
											<div class="card-body">
												<h4>Personal CREDIUDO</h4>
												<hr>
												<!--Presidente-->
												<div class="col-md-12">
													<div class="row">
														<div class="col-sm-4 col-md-3 col-lg-4">
															<div class="card">
																<div class="card-body text-center" style="padding: 8px">
																	<img alt class="rounded-circle img-fluid d-block mx-auto" src="../../uploads/perfil/user.jpg" style="width: 40%">
																	<hr style="margin: 5px">
																	<p style="font-size: 10pt">Presidente</p>		
																</div>
															</div>
														</div>
														<div class="col-sm-8 col-md-9 col-lg-8">
															<div class="card" style="height: 100%">
																<div class="card-body" style="padding: 10px">
																	<div class="row">
																		<div class="col-sm-12 col-md-12">
																			<table>
																				<tr>
																					<td><b>Nombre y Apellido: </b><%- president.nombre %> <%- president.apellido %></td>
																				</tr>
																				<tr>
																					<td><b>Cedula de Identidad: </b><%- president.cedula %></td>
																				</tr>
																			</table>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
													<hr>
												</div>

												<!--Coord. Planificación-->
												<div class="col-md-12">
													<div class="row">
														<div class="col-sm-4 col-md-3 col-lg-4">
															<div class="card">
																<div class="card-body text-center" style="padding: 8px">
																	<img alt class="rounded-circle img-fluid d-block mx-auto" src="../../uploads/perfil/user.jpg" style="width: 40%">
																	<hr style="margin: 5px">
																	<p style="font-size: 10pt">Coord. Planificación</p>		
																</div>
															</div>
														</div>
														<div class="col-sm-8 col-md-9 col-lg-8">
															<div class="card" style="height: 100%">
																<div class="card-body" style="padding: 10px">
																	<div class="row">
																		<div class="col-sm-12 col-md-12">
																			<% if(coordPlani) {%>
																				<table>
																					<tr>
																						<td><b>Nombre y Apellido: </b><%- coordPlani.nombre %> <%- coordPlani.apellido %></td>
																					</tr>
																					<tr>
																						<td><b>Cedula de Identidad: </b><%- coordPlani.cedula %></td>
																					</tr>
																					<tr>
																						<td>
																							<% if(coordPlani) {%>
																								<a href="/president/cambiar_coordP">
																							        Cambiar
																							    </a>
																							<%}%>
																						</td>
																					</tr>
																				</table>
																			<%} else {%>
																				<a href="#">Asignar</a>
																			<%}%>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
													<hr>
												</div>
												<!--!!!!!!!!!!!!!!!!!!!!-->
												
												<!--Coord. Evaluación-->
												<div class="col-md-12">
													<div class="row">
														<div class="col-sm-4 col-md-3 col-lg-4">
															<div class="card">
																<div class="card-body text-center" style="padding: 8px">
																	<img alt class="rounded-circle img-fluid d-block mx-auto" src="../../uploads/perfil/user.jpg" style="width: 40%">
																	<hr style="margin: 5px">
																	<p style="font-size: 10pt">Coord. Evaluación</p>		
																</div>
															</div>
														</div>
														<div class="col-sm-8 col-md-9 col-lg-8">
															<div class="card" style="height: 100%">
																<div class="card-body" style="padding: 10px">
																	<div class="row">
																		<div class="col-sm-12 col-md-12">
																			<% if(coordEval) {%>
																				<table>
																					<tr>
																						<td><b>Nombre y Apellido: </b><%- coordEval.nombre %> <%- coordEval.apellido %></td>
																					</tr>
																					<tr>
																						<td><b>Cedula de Identidad: </b><%- coordEval.cedula %></td>
																					</tr>
																					<tr>
																						<td>
																							<% if(coordEval) {%>
																								<a href="/president/cambiar_coordE">
																						        Cambiar
																						    </a>
																							<%}%>
																						</td>
																					</tr>
																				</table>
																			<%} else {%>
																				<a href="#">Asignar</a>
																			<%}%>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
													<hr>
												</div>
											</div>
										</div>
										<br>
									</div>

									<div class="col-lg-6">
										<div class="card">
											<div class="card-body">
												<div class="article border-bottom">
													<h4>Proximas Evaluaciones</h4>
												</div>
												<div>
													
												</div>	
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!--=======fin Contenido=====-->
					</div>
				</div>		
			</div>
		</div>
	</div>

	<footer class="footer" style="background: #BEBCB0;">
		<div class="container">
			<span class="text-muted">Pie de Pagina</span>
		</div>
	</footer>

	<script src="/js/jquery-3.3.1.min.js"></script>
	<script src="/js/popper.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/jquery.validate.min.js"></script>
	<script src="/js/main.js"></script>

</body>
</html>