<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>CREDIUDO | Inicio</title>

	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- Custom styles for this template -->
    <link href="/css/sticky-footer-navbar.css" rel="stylesheet">
	<script src="/js/Chart.js"></script>
	
</head>
<body>
	<div class="jumbotron" style="margin-bottom: 0px; padding: 0">
		<img src="/images/index/banner-sistema.jpg" alt="Responsive image" class="img-fluid">
	</div>	

	<%- include('../../partials/empleado/navbar.html') %>

	<div class="container-fluid">
		<div class="row justify-content-md-center">
			<div class="col-md-10">
				<div class="row">
					<div class="col-md-12">
						<!--=======MIGAS DE PAN=========-->
						<nav aria-label="breadcrumb" style="margin-top: 1%">
							<ol class="breadcrumb">
							    <li class="breadcrumb-item active" aria-current="page">Home</li>
							</ol>
						</nav>
						<!--=======FIN MIGAS DE PAN=========-->				
					</div>

					<div class="col-md-3">
						<div class="card">
						  	<div class="card-header">
						    	Datos Personales:
						  	</div>
						  
						  	<div class="card-body">
						    	<div class="form-group">
						    		<p><b>Nombre: </b></p>
						    		<p><b>Apellido: </b></p>
						    		<p><b>Nucleo: </b></p>
						    		<p><b>Unidad: </b></p>
						    	</div>
						  	</div>
						</div>

						<br>

						<div class="card">
						  	<div class="card-header">
						    	¿Sabes como Evaluar?
						  	</div>
						  
						  	<div class="card-body">
						    	<div class="form-group">
						    		<p><b>Nombre: </b></p>
						    		<p><b>Apellido: </b></p>
						    		<p><b>Nucleo: </b></p>
						    		<p><b>Unidad: </b></p>
						    	</div>
						  	</div>
						</div>
					</div>

					<div class="col-md-9">

						<div class="card">
							<div class="card-body">
								<div id="canvas-holder">
									<!--<canvas id="chart-area" width="300" height="300"></canvas>
									<canvas id="chart-area2" width="300" height="300"></canvas>-->
									<canvas id="chart-area3" width="600" height="300"></canvas>
									<canvas id="chart-area4" width="600" height="300"></canvas>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<br>
	<footer class="footer" style="background: #BEBCB0;">
		<div class="container">
			<span class="text-muted">Pie de Pagina</span>
		</div>
	</footer>

	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/jquery.validate.min.js"></script>
	<script src="/js/main.js"></script>
	<script>
		var arreglo = [];

		var longitud = "<%- Factores.length %>";
		
		"<% for(let i = 0; i < Factores.length; i ++) {%>"
			arreglo.push('<%- Factores[i].factor.nombre%>');
		"<%}%>"

		console.log(arreglo);

		var calificacionB = [];

		var longitudB = "<%- calificacionFactor.length %>";

		"<% for(let i = 0; i < calificacionFactor.length; i ++) {%>"
			calificacionB.push(parseInt('<%- calificacionFactor[i] %>'));
		"<%}%>"

		console.log(typeof(calificacionB[0]));
		console.log(calificacionB);

		var pieData = [{value: 40,color:"#0b82e7",highlight: "#0c62ab",label: "Google Chrome"},
				{
					value: 16,
					color: "#e3e860",
					highlight: "#a9ad47",
					label: "Android"
				},
				{
					value: 11,
					color: "#eb5d82",
					highlight: "#b74865",
					label: "Firefox"
				},
				{
					value: 10,
					color: "#5ae85a",
					highlight: "#42a642",
					label: "Internet Explorer"
				},
				{
					value: 8.6,
					color: "#e965db",
					highlight: "#a6429b",
					label: "Safari"
				}
			];

		var barChartData = {
			labels : arreglo,
			datasets : [
				{
					fillColor : "#6b9dfa",
					strokeColor : "#ffffff",
					highlightFill: "#1864f2",
					highlightStroke: "#ffffff",
					data : [8.3,3.0,1.0,8.0,1.5,5,1.5]
				},
				{
					fillColor : "#e9e225",
					strokeColor : "#ffffff",
					highlightFill : "#ee7f49",
					highlightStroke : "#ffffff",
					data : calificacionB
				}
			]

		}	
		
		var lineChartData = {
				labels : ["Enero","Febrero","Marzo","Abril","Mayo","Junio","Julio"],
				datasets : [
					{
						label: "Primera serie de datos",
						fillColor : "rgba(220,220,220,0.2)",
						strokeColor : "#6b9dfa",
						pointColor : "#1e45d7",
						pointStrokeColor : "#fff",
						pointHighlightFill : "#fff",
						pointHighlightStroke : "rgba(220,220,220,1)",
						data : [90,30,10,80,15,5,15]
					},
					{
						label: "Segunda serie de datos",
						fillColor : "rgba(151,187,205,0.2)",
						strokeColor : "#e9e225",
						pointColor : "#faab12",
						pointStrokeColor : "#fff",
						pointHighlightFill : "#fff",
						pointHighlightStroke : "rgba(151,187,205,1)",
						data : [40,50,70,40,85,55,15]
					}
				]

		}
		
		
		var ctx3 = document.getElementById("chart-area3").getContext("2d");
		var ctx4 = document.getElementById("chart-area4").getContext("2d");
		
						
		window.myPie = new Chart(ctx3).Bar(barChartData, {responsive:true});
		window.myPie = new Chart(ctx4).Line(lineChartData, {responsive:true});
	</script>
</body>
</html>