<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>CREDIUDO | Coord. Evaluación</title>

	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- Custom styles for this template -->
    <link href="/css/sticky-footer-navbar.css" rel="stylesheet">
</head>
<body>
	<div class="jumbotron" style="margin-bottom: 0px; padding: 0">
		<img src="/images/index/banner-sistema.jpg" alt="Responsive image" class="img-fluid">
	</div>	

	<%- include('../../partials/coord_eval/navbar.html') %>

	<div class="container-fluid">
		<div class="row justify-content-md-center">
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-12">
						<!--=======MIGAS DE PAN=========-->
						<nav aria-label="breadcrumb" style="margin-top: 1%">
							<ol class="breadcrumb">
							    <li class="breadcrumb-item active" aria-current="page">Home</li>
							</ol>
						</nav>
						<!--=======FIN MIGAS DE PAN=========-->
					</div>
				</div>

				<div class="row">
					<div class="col-md-3">
						<div class="card">
						  	<div class="card-header">
						    	Datos Personales:
						  	</div>
						  
						  	<div class="card-body">
						    	<div class="form-group">
						    		<p><b>Nombre: </b><%- Usuario.nombre %></p>
						    		<p><b>Apellido: </b><%- Usuario.apellido %></p>
						    		<p><b>Nucleo: </b><%- Usuario.nucleo.nombre %></p>
						    		<p><b>Unidad: </b><%- Usuario.unidad.nombre %></p>
						    	</div>
						  	</div>
						</div>

						<br>
					</div>

					<div class="col-md-9">
						<div class="row">
							<div class="col-lg-5">
								<div class="card">
									<div class="card-body">
										<div class="article border-bottom">
											<h3>Planificar Evento</h3>
										</div>
										<form method="POST" action="">
											<div class="form-row">
											    <div class="form-group col-md-6">
											      <label for="nombre">Nombre:</label>
											      <input type="text" class="form-control" placeholder="Ingrese el Nombre o Titulo del Evento">
											    </div>
											    <div class="form-group col-md-6">
											      <label for="direccion">Dirección:</label>
											      <input type="text" class="form-control" placeholder="Ingrese la Dirección">
											    </div>
											</div>

											<div class="form-row">
											    <div class="form-group col-md-6">
											      	<label>Fecha:</label>
													<input type="date" name="fecha" class="form-control">
											    </div>
											    <div class="form-group col-md-6">
											      <label>Nucleo: </label>
													<select name="nucleo" class="form-control">
														<option disabled value="">Please select one</option>
														<option>...</option>
													</select>
											    </div>
											</div>

											<div class="form-row">
											    <div class="form-group col-md-4">
											      	<label>Dirigido a:</label>
													<input type="text" name="publico" class="form-control" placeholder="Publico">
											    </div>
											    <div class="form-group col-md-4">
											      <label>Tipo:</label>
													<select name="tipo" class="form-control">
														<option disabled value="">Please select one</option>
														<option>Nacional</option>
														<option>Taller</option>
													</select>
											    </div>
											    <div class="form-group col-md-4">
											      	<label>Cupos:</label>
													<input type="number" name="cupos" class="form-control">
											    </div>
											    <div class="form-group col-md-12">
												  	<label for="descripcion">Descripción:</label>
												  	<textarea class="form-control" rows="5" name="descripcion"></textarea>
												</div>
											</div>

											<div class="form-row">
												<div class="form-group col-md-12">
													<input type="file" name="img" class="form-control">
												</div>
											</div>

											<hr>

											<input type="submit" name="guardar" value="Guardar" class="btn btn-primary">
										</form>
									</div>
								</div>
							</div>

							<div class="col-lg-7">
								<div class="card">
									<div class="card-body">
										<div class="article border-bottom">
											<h3>Eventos Planificados</h3>
										</div>
										<table class="table">
											<thead>
												<th style="width: 6%">#</th>
												<th>Nombre</th>
												<th style="width: 30%">Acción</th>
											</thead>
											<tbody>
												<tr>
													<td>1</td>
													<td>Evento Ejemplo 1</td>
													<td>
														<a href="" class="btn btn-warning btn-xs">Edit</a>
														<a href="" class="btn btn-danger btn-xs">Delete</a>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<footer class="footer" style="background: #BEBCB0;">
		<div class="container">
			<span class="text-muted">Pie de Pagina</span>
		</div>
	</footer>

	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/jquery.validate.min.js"></script>
	<script src="/js/main.js"></script>
</body>
</html>