<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>CREDIUDO | Inicio</title>
</head>
<body>
	<h2>CREDIUDO | Inicio</h2>
	<h4>Bienvendio <%= usuario.nombre %></h4>
	<a href="/logout">Cerrar Sesion</a>

	<br><br>

	<%if(evaluacionUsuario && evaluacionUsuario.length > 0) {%>
		<% for(var i = 0; i < evaluacionUsuario.length; i ++) {%>
			<a href="/dashboard/evaluacion/<%=evaluacionUsuario[i].evaluacionId%>/u/<%=evaluacionUsuario[i].usuarioCedula%>"><%=evaluacionUsuario[i].evaluacion.nombre%></a>
		<%}%>
	<%} else{%>
		<h3>No hay Evaluaciones</h3>
	<%}%>
	
	
	
</body>
</html>