<!DOCTYPE html>
<html>
 
<head>
    <title></title>
</head>
 
<body>
    <form id="signup" name="signup" method="post" action="/signup">
        <label for="cedula">Cedula</label>
        <input class="text" name="cedula" type="text" />
        <label for="nombre">nombre</label>
        <input class="text" name="nombre" type="text" />
        <label for="apellido">Apellido</label>
        <input name="apellido" type="text" />
        <label for="email">email</label>
        <input name="email" type="email" />
        <label for="password">Password</label>
        <input name="password" type="password" />
        <input class="btn" type="submit" value="Sign Up" />
    </form>
 
</body>
 
</html>